{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Budapest Autószalon</title>
    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">

    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
    <link href="{% static 'css/menubar.css' %}" rel="stylesheet">
    <link href="{% static 'css/test.css' %}" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <style>
        a:hover{
            -webkit-stroke-width: 5.3px;
              -webkit-stroke-color: #FFFFFF;
              -webkit-fill-color: #FFFFFF;
              text-shadow: 1px 0px 20px #000080;
          }
    </style>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="menu-top" >
      <ul class="menu__list-top">
        <li class="menu__group-top"></i>Budapest Autószalon új és használt autók</li>
        <li class="menu__group-top"><i class="fas fa-phone"></i><a href ="tel: +36 1 803 6056"> +36 1 803 6056</li></a>
        <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
        <li class="menu__group-top"><i class="far fa-envelope"></i><a href="mailto: info@budapestautoszalon.hu">info@budapestautoszalon.hu</li></a>
      </ul>
    </nav>
    <br />
    <nav class="navbar navbar-light bg-light navbar-expand-sm">
      <a class="navbar-brand" href="{% url 'fooldal' %}">
        <img src="/static/logo2.png" width= "20%" alt="Budapest Autoszalon Logo">
      </a>
      <div class="title-name">
        Budapest Autószalon
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        Menu

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'fooldal' %}">Főoldal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'szerviz' %}">Szerviz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hasznalt' %}">Használt autók</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </nav>

      <!-- Content Row -->

      <div class="row">

        <!-- Map Column -->
        <div class="col-lg-12 mb-5">
          <div class="container">
            <div class="w_text">
              <h1 class="mt-4 mb-3">Kapcsolat felvétel</h1>
            </div>
          <!-- Embedded Google Map -->
          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
           src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2691.699700237101!2d19.07857421559379!3d47.573630979182525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dd5e619943f5%3A0x10cc18acc136afcc!2zQnVkYXBlc3QgQXV0w7NzemFsb24gw7pqIMOpcyBoYXN6bsOhbHRhdXTDsyBrZXJlc2tlZMOpcyDDqXMgc3plcnZpeg!5e0!3m2!1sen!2shu!4v1549012906222" width="800" height="450" frameborder="0"style="border:0" ></iframe>
        <!-- Contact Details Column -->
        <br />
        <br />

        <div class="col-lg-12 mb-2">
          <h1 class="mt-4 mb-3">Címünk:</h1>
          <p>
            1044 Budapest
            <br>Külső Váci út , 76-80.
            <br>
          </p>
          <p>
            <abbr title="Központi telefonszám, kérdését nyugodtan felteheti nekünk">Telefonszámunk</abbr><a href="tel:+36 1 803 6056"> +36 1 803 6056</a>
           </p>
          <p>
            <abbr title="Küldjön üzenetet azonnal válaszolunk">Email:</abbr>:
            <a href="mailto:recepcio@budapestautoszalon.hu">recepcio@budapestautoszalon.hu
            </a>
          </p>
        </div>
        <br/>
      <!-- /.row -->

      <div class="table-responsive">
        <!--Table-->
        <table class="table">
          <!--Table head-->
          <thead>
            <tr>
              <th>Nyitvatartás:</th>
              <th class="th-sm">Új autó</th>
              <th class="th-sm">Használt autó</th>
              <th class="th-sm">Szerviz</th>
            </tr>
          </thead>
          <!--Table head-->
          <!--Table body-->
          <tbody>
            <tr>
              <th scope="row">Hétfő - Péntek:</th>
              <td>9:00 - 18:00</td>
              <td>9:00 - 18:00</td>
              <td>8:00 - 17:00</td>
            </tr>
            <tr>
              <th scope="row">Szombat:</th>
              <td>9:00 - 13:00</td>
              <td>9:00 - 13:00</td>
              <td>Zárva</td>
            </tr>
            <tr>
              <th scope="row">Vasárnap:</th>
              <td>Zárva</td>
              <td>Zárva</td>
              <td>Zárva</td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
      </div>

        <div class="w_text">
          <h1 class="mt-4 mb-3">Miben segíthetünk:</h1>
        </div>

          <div class="wrapper">
          <div class="box box3 shadow3" >
              <h1 data-toggle="tooltip" data-placement="top" title="
                Szervizünk márkától függetlenül vállalja gépjárműve teljes körű karbantartását, javítását.
                Nálunk nincsenek rejtett költségek!
                Törekszünk arra, hogy elnyerjük ügyfeleink bizalmát minőségi, gyors munkánkkal.">
                Szerviz:</h1>
                <br />
              <div class="contact-info">
                <h4><i class="fas fa-users-cog"></i>  Varga László</h4>
                <p> Szerviz vezető </p>
                <p class="lead"><i class="fas fa-phone"></i>Tel:<a href="tel:+36 20 402 5457"> +36 20 334 2551</p></a>
                <p class="lead"><i class="fas fa-paper-plane"></i>Email: <a href = "mailto: varga.laszlo@budapestautoszalon.hu"> varga.laszlo@budapestautoszalon.hu</p></a>
              </div>
              <div class="contact-info">
                <h4><i class="fas fa-users-cog"></i>Hips Attila </h4>
                <p> Szerviz tanácsadó / Garanciás ügyintéző </p>
                 <p class="lead"><i class="fas fa-phone"></i>Tel: <a href="tel:+36 20 402 5457"> +36 20 402 5457</p></a>
                 <p class="lead"><i class="fas fa-paper-plane"></i>Email: <a href = "mailto: attila.hips@budapestautoszalon.hu"> attila.hips@budapestautoszalon.hu</p></a>
              </div>

            </div>
            <div class="box box1 ">
              <h1>Használtautó:</h1>
              <br />
              <div class="contact-info">
                <h4 ><i class="fas fa-user"></i>Buda László </h4>
                <p> Értékesítési vezető </p>
                 <p class="lead"><i class="fas fa-phone"></i>Tel:<a href="tel:+36 20 402 5457"> +36 70 427 0748</p></a>
                 <p class="lead"><i class="fas fa-paper-plane"> </i>Email: <a href = "mailto: buda.laszlo@budapestautoszalon.hu"> buda.laszlo@budapestautoszalon.hu</p></a>
              </div>
               <div class="contact-info">
                <h4><i class="fas fa-user"></i></i>  Horváth László</h4>
                <p> Értékesítő </p>

                <p class="lead"><i class="fas fa-phone"></i>Tel:<a href="tel:+36 20 402 5457"> +36 70 770 9032</p></a>
                <p class="lead"><i class="fas fa-paper-plane"></i>Email: <a href = "mailto: horvath.laszlo@budapestautoszalon.hu"> horvath.laszlo@budapestautoszalon.hu</p></a>
              </div>
              <div class="contact-info">
               <h4><i class="fas fa-user"></i></i>  Sparing Béla</h4>
               <p> Gépjármű felvásárlás / beszámítás </p>

               <p class="lead"><i class="fas fa-phone"></i>Tel:<a href="tel:+36 20 322 2811"> +36 20 322 2811 </p></a>
               <p class="lead"><i class="fas fa-paper-plane"></i>Email: <a href = "mailto: spring.bela@budapestautoszalon.hu"> sparing.bela@budapestautoszalon.hu</p></a>
             </div>

            </div>
            <div class="box box2 shadow2">
              <h1>Új autó:</h1>
              <br />

              <div class="contact-info">
                <h4><i class="fas fa-user"></i>Erdős Csaba</h4>
                <p>Értékesítés vezető </p>
                 <p class="lead"><i class="fas fa-phone"></i>Tel:<a href="tel:+36 70 770 7273"> +36 20 377 3100</p></a>
                 <p class="lead"><i class="fas fa-paper-plane"></i>Email: <a href = "mailto: erdos.csaba@budapestautoszalon.hu"> erdos.csaba@budapestautoszalon.hu</p></a>
               <div class="wrapper2">
                  <div><img src="/static/SsangYong-logo.png" width="90%";></div>
                  <div><img src="/static/Subaru-logo.png" width="80%";></div>
                  <div><img src="/static/Mitsubishi-logo.png" width="60%";></div>
                  <div><img src="/static/opellogo.png" width="80%";></div>
                </div>
              </div>

                <div class="contact-info">
                   <h4 ><i class="fas fa-user"></i>Kardos Tamás</h4>
                   <p> Értékesítési referens </p>
                    <p class="lead" ><i class="fas fa-phone"></i>Tel:<a href="tel:+36 70 770 02 01"> +36 70 770 02 01</p></a>
                    <p class="lead" ><i class="fas fa-paper-plane"></i>Email: <a href = "mailto: kardos.tamas@mitsubishibudapest.hu"> kardos.tamas@mitsubishibudapest.hu</p></a>

                <div class="wrapper2">
                   <div><img src="/static/SsangYong-logo.png" width="90%";></div>
                   <div><img src="/static/Subaru-logo.png" width="80%";></div>
                   <div><img src="/static/Mitsubishi-logo.png" width="60%";></div>
                   <div><img src="/static/opellogo.png" width="80%";></div>
                 </div>
                </div>
            </div>
            <div class="box box4 shadow4">
              <h1>Alkatrész:</h1>
              <br />

              <div class="contact-info">
                <h4><i class="fas fa-people-carry"></i>Kiss Zoltán</h4>
                <p> Raktár vezető </p>
                 <p class="lead"><i class="fas fa-phone"></i>Tel:<a href="tel:+36 70 770 7273"> +36 70 770 7273</p></a>
                 <p class="lead"><i class="fas fa-paper-plane"></i>Email: <a href = "mailto: kiss.zoltan@budapestautoszalon.hu"> raktar@budapestautoszalon.hu</p></a>
              </div>
            </div>
        </div>
      <!-- /.row -->
    <!-- /.container -->
</div>

</div>
</div>

    <!-- Footer -->
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Kezdőlap</h5>
                    <ul>
                        <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                        <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                        <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Rólunk</h5>
                    <ul>
                        <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                        <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                        <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                    </ul>
                </div>

                <div class="col-sm-3">
                    <h5>Külső linkek</h5>
                    <ul>
                        <li><a href="http://www.ssangyongbudapest.hu/">Sangyong Budapest</a></li>
                        <li><a href="http://www.mitsubishibudapest.hu/">Mitsubishi Budapest</a></li>
                        <li><a href="http://www.subarubudapest.hu/">Subaru Budapest</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Budapest Autószalon</h5>
                    <p>   Opel-Mitsubishi-Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>

                        h-1044 Budapest Váci út 76-80</br>Tel: 061-803-6050  </br>Fax: 061-803-6051</br>  </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <script type="text/javascript">
          window.__lc = window.__lc || {};
          window.__lc.license = 8624479;
          window.__lc.chat_between_groups = false;
          (function() {
            var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
          })();

        function myFunction() {
        var x = document.getElementsByClassName("menu")[0]  ;
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });


    </script>
    <!-- End of LiveChat code -->
    <!-- Default Statcounter code for Budapest Autószalon
www.budapestautoszalon.hu -->
<script type="text/javascript">
var sc_project=9812866;
var sc_invisible=1;
var sc_security="1a0d68be";
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="ingyen
webstatisztika" href="https://www.statcounter.hu/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
alt="ingyen webstatisztika"></a></div></noscript>
<!-- End of Statcounter Code -->
  </body>

</html>
