

@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';


/* Base Styles
********************************************************************* */

/* Grid
********************************************************************* */
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

@media (min-width: 400px) {
.container {
	width: 85%;
	padding: 0;
}
}

@media (min-width: 550px) {
.container {
	width: 80%;
}
.column,  .columns {
	margin-left: 4%;
}
.column:first-child,  .columns:first-child {
	margin-left: 0;
}
.one.column,  .one.columns {
	width: 4.66666666667%;
}
.two.columns {
	width: 13.3333333333%;
}
.three.columns {
	width: 22%;
}
.four.columns {
	width: 30.6666666667%;
}
.five.columns {
	width: 39.3333333333%;
}
.six.columns {
	width: 48%;
}
.seven.columns {
	width: 56.6666666667%;
}
.eight.columns {
	width: 65.3333333333%;
}
.nine.columns {
	width: 74.0%;
}
.ten.columns {
	width: 82.6666666667%;
}
.eleven.columns {
	width: 91.3333333333%;
}
.twelve.columns {
	width: 100%;
	margin-left: 0;
}
.one-third.column {
	width: 30.6666666667%;
}
.two-thirds.column {
	width: 65.3333333333%;
}
.one-half.column {
	width: 48%;
}
/* Offsets */
.offset-by-one.column,  .offset-by-one.columns {
	margin-left: 8.66666666667%;
}
.offset-by-two.column,  .offset-by-two.columns {
	margin-left: 17.3333333333%;
}
.offset-by-three.column,  .offset-by-three.columns {
	margin-left: 26%;
}
.offset-by-four.column,  .offset-by-four.columns {
	margin-left: 34.6666666667%;
}
.offset-by-five.column,  .offset-by-five.columns {
	margin-left: 43.3333333333%;
}
.offset-by-six.column,  .offset-by-six.columns {
	margin-left: 52%;
}
.offset-by-seven.column,  .offset-by-seven.columns {
	margin-left: 60.6666666667%;
}
.offset-by-eight.column,  .offset-by-eight.columns {
	margin-left: 69.3333333333%;
}
.offset-by-nine.column,  .offset-by-nine.columns {
	margin-left: 78.0%;
}
.offset-by-ten.column,  .offset-by-ten.columns {
	margin-left: 86.6666666667%;
}
.offset-by-eleven.column,  .offset-by-eleven.columns {
	margin-left: 95.3333333333%;
}
.offset-by-one-third.column,  .offset-by-one-third.columns {
	margin-left: 34.6666666667%;
}
.offset-by-two-thirds.column,  .offset-by-two-thirds.columns {
	margin-left: 69.3333333333%;
}
.offset-by-one-half.column,  .offset-by-one-half.columns {
	margin-left: 52%;
}
}
/* Typography
********************************************************************* */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
}
h1 {
	font-size: 6.0em;
	line-height: 1;
	letter-spacing: -.1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #27B6C7;
	margin-bottom: 20px;
}
h2 {
	font-size: 3.6rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}
h3 {
	font-size: 3.0rem;
	line-height: 1.3;
	text-align: center;
}
h4 {
	font-size: 2.4rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}
h5 {
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
}
h6 {
	font-size: 1.5rem;
	line-height: 1.6;
	letter-spacing: 0;
}

p {
	margin-top: 0;
}

@media only screen and (max-width: 1150px) {

	h1 {
		font-size: 5em;
	}

	h2 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 750px) {
	h1 {
		font-size: 3em;
	}
}

@media only screen and (max-width: 550px) {
	#device {
		display: none;
	}
}

/* Countdown
********************************************************************* */

.days, .hours, .minutes, .seconds {
    font-size: 8em;
    font-weight: bold;
    text-align: center;
    border-top: 3px solid #fff;
	  margin-top: 30px;
}

@media only screen and (max-width: 920px) {
    .days, .hours, .minutes, .seconds {
        font-size: 5em;
        margin: 0 10px;
    }
}

/* General
********************************************************************* */

header {
	overflow: hidden;
	padding: 20px 0 50px 0;
}

#blueBand {
	background: #27B6C7;
	min-height: 230px;
	padding: 50px 0 50px 0;
	color: #FFFFFF;
	z-index: 999;
	overflow: auto;
}

.icon {
	font-size: 6.5em;
}

img {
	width:100%;
	height: auto;
}

.btn {
  background: #434443;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 1.4em;
  padding: 14px 30px 14px 30px;
  text-decoration: none;
  border: 0;
  margin: 20px 20px 0 0;
}

.btn:hover {
  background: #27B6C7;
  text-decoration: none;
}

#device {
	padding-top: 150px;
}

footer {
	background: #434443;
	min-height: 100px;
	padding: 50px 0 50px 0;
}

footer hr {
	border: 2px solid #27B6C7;
	border-image: none;
}

footer p {
	color: #FFFFFF;
	margin: 0;
	display: inline;
}

footer h4 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 1.6em;
}

.socialIcons {
	font-size: 1.8em;
	color: #ffffff;
}

#map {
	width: 100%;
	min-height: 400px;
}
