.fa-check-circle {
  color: #51d0de;
}


html {
  scroll-behavior: smooth;
}

.masthead {
  height: 60vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/RJK6p5MJACQ/1920x1080');
  background-size: cover;
  background-position: ;
  background-repeat: no-repeat;
  color: #fff;

}



#particle-canvas {
  width: 100%;
  height: 30vh;
  background: #fff;
  vertical-align: middle;
}

/* About Section
--------------------------------*/

#about {
  padding: 100px 0 40px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

#about .content h2 {
  color:  #1561ad;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #50d8af;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}



/* Services Section
--------------------------------*/

#services {
  padding: 30px 0 0 0;
  background-color: #f5f8fa;
}

#about  h2 {
  color:  #1561ad;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#services .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}

#team .box{
  margin-bottom: 40px;
  box-shadow: 0px 0px 0px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.3s;
}

#team .box:hover{
  box-shadow: 0px 20px 30px rgba(73, 78, 92, 0.15);
  transition: 0.4s;

  /*transform: translateY(10px);*/

}


 #services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-20px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}



#services .box h4 {
  /*margin-left: 100px;*/
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services .box h4 a {
  color:  #1dbab4;
}

#services .box p {
  font-size: 14px;
/*  margin-left: 100px;*/
  margin-bottom: 0;
  line-height: 24px;
}



/* Our Team Section
--------------------------------*/

#team {
  background: #f8f8f8;
  padding: 60px 0 0 0;
}

#team .member {
  text-align: left;
  margin-bottom: 20px;
}

#team .member .pic {
  overflow: hidden;
  text-align: center;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member .details {
  background: #;
  color: #fff;
  padding: 20px;
  border-radius: 0 0 3px 3px;
}

#team .member h4 {
  font-weight: 600;
  margin-bottom: 2px;
  font-size: 20px;
}

#team .member span {
  display: block;
  font-size: 16px;
  color: #655C5A;
  font-weight: 500;
}

#team .member .social {
  margin-top: 5px;
}

#team .member .social a {
  color: #fff;
}

#team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/

/* Call To Action Section
--------------------------------*/

#call-to-action {
  background: #1561ad;
  background-size: cover;
  padding: 20px 0;
}

#call-to-action .cta-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action .cta-text {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 3px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background: #1bb1dc;
  border: 3px solid #1bb1dc;
}


.btn{
  background:#fff;

}

  .btn:link,
  .btn:visited{
    text-decoration: none;
    position:;
    top:150px;
    font-weight:600;
    float: center;
    display:inline-block;
    transition: all .5s;
    color:#1561ad;
    border: 1px solid;
    border-radius: 3px
  }

  .btn-white{
    background:#f7d900;
    color:#f7d900;
  }

  .btn:hover{
     box-shadow:0px 10px 10px rgba(0,0,0,0.2);
     transform : translateY(-3px);
  }

  .btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2)
    transform:translateY(-1px);
  }

  .btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
  }

  .btn::after{
    content:"";
    text-decoration: none;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
  }

  .btn-white::after {
      background: #1bb1dc;
  }

  .btn-animation-1:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }

  @keyframes comeFromBottom{
    0%{
      opacity:0;
      transform:translateY(40px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }



  .btn2{
    background:#fff;
    padding: 0.375rem .75rem;
  }

    .btn2:link,
    .btn2:visited{
      text-decoration: none;
      position:;
      top:150px;
      font-weight:600;
      float: center;
      display:inline-block;
      transition: all .5s;
      color:#1561ad;
      border: 1px solid;
      border-radius: 3px
    }

    .btn2-white{
      background:#f7d900;
      color:#f7d900;
    }

    .btn2:hover{
       box-shadow:0px 10px 10px rgba(0,0,0,0.2);
       transform : translateY(-3px);
    }

    .btn2:active{
      box-shadow:0px 5px 10px rgba(0,0,0,0.2)
      transform:translateY(-1px);
    }

    .btn2-bottom-animation-1{
      animation:comeFromBottom 1s ease-out .8s;
    }

    .btn2::after{
      content:"";
      text-decoration: none;
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      display:inline-block;
      z-index:-1;
      transition: all .5s;
    }

    .btn2-white::after {
        background: #1bb1dc;
    }

    .btn2-animation-1:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    @keyframes comeFromBottom{
      0%{
        opacity:0;
        transform:translateY(40px);
      }
      100%{
        opacity:1;
        transform:translateY(0);
      }
    }

/*test*/
.contactinfo{
  font-size: 1.25rem;
  font-weight: 500;
}



#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ffb347;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.return-to-top-text {
    margin: 0;
    position: relative;
    left: 13px;
    top: 20px
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color:#fff;
}
#return-to-top:hover {
    background: #ffb347;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


.section-header{
  padding: 20px;
}
