.fa-check-circle {
  color: #51d0de;
}

.masthead {
  height: 60vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/RJK6p5MJACQ/1920x1080');
  background-size: cover;
  background-position: ;
  background-repeat: no-repeat;
  color: #fff;

}



#particle-canvas {
  width: 100%;
  height: 30vh;
  background: #fff;
  vertical-align: middle;
}

/* About Section
--------------------------------*/

#about {
  padding: 100px 0 40px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

#about .content h2 {
  color:  #1561ad;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #50d8af;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}



/* Services Section
--------------------------------*/

#services {
  padding: 30px 0 0 0;
  background-color: #f5f8fa;
}

#about  h2 {
  color:  #1561ad;
  font-weight: 700;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

#services .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}

#team .box{
  margin-bottom: 40px;
  box-shadow: 0px 0px 0px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.3s;
}

#team .box:hover{
  box-shadow: 0px 20px 30px rgba(73, 78, 92, 0.15);
  transition: 0.4s;

  /*transform: translateY(10px);*/

}


 #services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-20px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}



#services .box h4 {
  /*margin-left: 100px;*/
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services .box h4 a {
  color:  #1dbab4;
}

#services .box p {
  font-size: 14px;
/*  margin-left: 100px;*/
  margin-bottom: 0;
  line-height: 24px;
}



/* Our Team Section
--------------------------------*/

#team {
  background: #fff;
  padding: 60px 0 0 0;
}

#team .member {
  text-align: left;
  margin-bottom: 20px;
}

#team .member .pic {
  overflow: hidden;
  text-align: center;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member .details {
  background: #20bed6;
  color: #fff;
  padding: 20px;
  border-radius: 0 0 3px 3px;
}

#team .member h4 {
  font-weight: 600;
  margin-bottom: 2px;
  font-size: 20px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 16px;
}

#team .member .social {
  margin-top: 5px;
}

#team .member .social a {
  color: #fff;
}

#team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
