
header {
  background-color: #F0F8FF;
  background-image: url("/static/car-service-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 25px;

}

@media (min-width: 576px) {
  header {
    padding: 200px 0;
  }
}

.first-section {
  background-color: #FBFBFB;
}
.first-section img {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .first-section img {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .first-section img {
    margin-bottom: 0;
  }
}

.section {
  padding: 60px 0 40px;
}

.first-section ul {
  background-color: #F7F9FC;
  border-radius: 8px;
  margin-top: 25px;
  padding: 30px 55px;
}

.first-section li {
  margin-bottom: 8px;
}

.second-section {
  background-color: #fff;
}
.second-section p {
  color: #9DA2A6;

}

.third-section{
  background-color: #F8F7FB;
}

.second-section img {
  height: 75px;
  margin: 25px 0 10px;
  width: 75px;
}

h1{
  color: #fff;
  font-size: 36px;
}
@media (min-width: 576px) {
  h1 {
    font-size: 48px;
  }
}
h2 {
  color: #000000;
}
h6{
 color: #fff;
}




.third-section img {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .third-section img {
    margin-top: 0;
  }
}
.fourth-section {
  background-color: #fff;
  background-image: url("");
  background-repeat: repeat;
}
