<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Szerviz Ajanlat Budapest Autószalon</title>
    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">
    <link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <link href="{% static 'css/menubar.css' %}" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>


  </head>
  <body>
    <!-- Navigation -->
    <nav class="menu-top" >
      <ul class="menu__list-top">
        <li class="menu__group-top"></i>Budapest Autószalon új és használt autók</li>
        <li class="menu__group-top"><i class="fas fa-phone"></i> +36 1 803 6056</li>
        <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
        <li class="menu__group-top"><i class="far fa-envelope"></i>info@budapestautoszalon.hu</li>
      </ul>
    </nav>
    <br />
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light navbar-expand-sm">
      <a class="navbar-brand" href="{% url 'fooldal' %}">
        <img src="/static/logo2.png" width="20%" height="20%" alt="Budapest Autoszalon Logo">

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'fooldal' %}">Főoldal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'szerviz' %}">Szerviz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hasznalt' %}">Használt autók</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </nav>
<br />
    <body>
        <div class="row">
          <div class="col">
            <div class="card">
              <h3>Már régi Ügyfelünk, vagy most lépne velünk kapcsolatba először? <br />Küldje el üzenetét és kollégáink válaszolnak Önnek!</h3>
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i>
                   Küldjön üzenetet.
                </div>
                <div class="card-body">
                  <div class="col-xs-7 col-xs-6" >
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}</div>
                    <input class="btn btn-primary btn-block" type="submit" value="Küldés" />

                  </form>
                </div>
            </div>
        </div>

        <div class="col-xs-5 col-sm-6 col-lg-4" >
          <div class="card bg-light mb-3">
              <div class="card-header bg-dark text-white text-uppercase"><i class="fa fa-home"></i> Cimünk </div>
                <div class="card-body">
                    <p>Váci út 76-80</p>
                    <p>1044 Budapest</p>
                    <p>H-P 8:00 - 17:00</p>
                    <p>Email : info@budapestautoszalon.hu</p>
                    <p>Tel: +36 1 803 6056</p>
                </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Kezdőlap</h5>
                        <ul>
                            <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                            <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                            <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>Rólunk</h5>
                        <ul>
                            <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                            <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                            <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h5>Külső linkek</h5>
                        <ul>
                            <li><a href="http://www.ssangyongbudapest.hu/">Sangyong Budapest</a></li>
                            <li><a href="http://www.mitsubishibudapest.hu/">Mitsubishi Budapest</a></li>
                            <li><a href="http://www.subarubudapest.hu/">Subaru Budapest</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 info">
                        <h5>Budapest Autószalon</h5>
                        <p>   Opel-Mitsubishi-Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>

                            h-1044 Budapest Váci út 76-80</br>Tel: 061-803-6050  </br>Fax: 061-803-6051</br>  </p>
                    </div>
                </div>
            </div>
        </footer>
      </footer>
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <!-- Start of LiveChat code -->
    <script type="text/javascript">
          window.__lc = window.__lc || {};
          window.__lc.license = 8624479;
          window.__lc.chat_between_groups = false;
          (function() {
            var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
          })();

        function myFunction() {
        var x = document.getElementsByClassName("menu")[0]  ;
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>
  </body>



</html>
