ADATVÉDELMI NYILATKOZAT

Információk a személyes adatok kezeléséről
Az Ön személyes adatait kérése adminisztrálásának és teljesítésének céljából Mi, Opel Sziget﻿, II. Rákóczi Ferenc utca 57.
2310 Szigetszentmiklós - Bp. - Csepel﻿ (az Ön kiválasztott Opel Partnere), az Opel Southeast Europe Kft., Szabadság út 117, 2040 Budaörs és az Opel Automobile GmbH, Bahnhofsplatz, 65423 Rüsselsheim am Main, Németország fogja kezelni, mint adatkezelők, a következők szerint:

Az adatkezelés az Általános Adatvédelmi Rendelet (General Data Protection Regulation, GDPR) 6. cikk (1) (b) bekezdésén alapul.

Mi ( Opel Sziget﻿ II. Rákóczi Ferenc utca 57.
2310 Szigetszentmiklós - Bp. - Csepel ), ﻿mint adatkezelők a következőképpen kezeljük az Ön személyes adatait:

Adatok (a kötelezően megadandó adatokat * jelöli)

Cél(ok)

Azonosító és elérhetőségi adatok
(név*, e-mail-cím*; telefonszám, postacím (* ha alkalmazható))
Kapcsolatfelvétel, kommunikáció és kérések teljesítése, hírlevélről leiratkozás/feliratkozás

Érdekes modell részletei*
Kérés teljesítése

Kiválasztott Opel Partner*
Kérés teljesítése

Lízing / finanszírozás iránti érdeklődés (* ha alkalmazható)
Kérés teljesítése

Tényleges jármű adatai*, VIN*, első regisztráció dátuma, regisztrációs szám / rendszám, futásteljesítmény, jármű leadásának dátuma/időpontja, felvétel dátuma/időpontja, szerviz típusa*, csereautó
Szerviz kérés teljesítése

Érdeklődés típusa
Kapcsolat felvételi kérés teljesítése

A fent felsorolt, *-gal jelzett adatelemek megadása kötelező és szerződéses követelmény. Ezért Ön köteles megadni ezeket az adatokat. Ha nem adja meg az adatokat, nem tudjuk teljesíteni a kérését.

A fent felsorolt adatokat ezen szerződéses kapcsolat megszüntetését követően három évig tároljuk.

Címzettek

Az Ön személyes adatainak megosztására az alább felsorolt célokból, az alábbi címzettek számára kerül sor:

Adatok

Cél(ok)

Címzett(ek)

Azonosító és elérhetőségi adatok
(Név*, e-mail-cím *; telefonszám, postacím (* ha alkalmazandó)), érdekes modell adatai*, Opel Sziget﻿ kiválasztott Opel Partner*, lízing / finanszírozás iránti érdeklődés (* ha alkalmazandó), tényleges jármű adatai*, VIN*, első regisztráció dátuma, regisztrációs szám / rendszám, futásteljesítmény, jármű leadásának dátuma/időpontja, felvétel dátuma/időpontja, szerviz típusa*, csereautó. érdeklődés típusa

Kérés teljesítése

Mi, Opel Sziget﻿, II. Rákóczi Ferenc utca 57.
2310 Szigetszentmiklós - Bp. - Csepel﻿﻿ (az Ön választott Opel Partnere) az Opel Southeast Europe Kft., Szabadság út 117, 2040 Budaörs és az Opel Automobile GmbH, Bahnhofsplatz, 65423 Rüsselsheim am Main, Germany megosztja az Ön személyes adatait a megfelelő szerződtetett adatfeldolgozókkal a megnevezett célok adminisztrációjának támogatása érdekében.

Mi, Opel Sziget﻿, II. Rákóczi Ferenc utca 57.
2310 Szigetszentmiklós - Bp. - Csepel﻿﻿ (az Ön választott Opel Partnere), az Opel Southeast Europe Kft., Szabadság út 117, 2040 Budaörs és az Opel Automobile GmbH, Bahnhofsplatz, 65423 Rüsselsheim am Main, Germany megosztja az Ön személyes adatait a megfelelő IT szolgáltatóval is (GM Holdings LLC, Michigan, USA), amely az Európai Gazdasági Térség (EGT) területén kívül, azaz megfelelő szintű adatvédelemmel nem rendelkező országban található. Nincs az Európai Bizottság által meghozott megfelelőségi döntés, azonban megfelelő biztonsági intézkedéseket vezettünk be, amelyek ez esetben a vonatkozó EU Standard Szerződési Feltételek (EU Standard Contractual Clauses, EU SCC-k). Ezekről másolatot kaphat, ha e-mailt küld a privacyrights@opel.com címre.

Lakcímkártya
Személyigazolvány
Adókártya
Jogosítvány

 TB Kártya

[Kérelem felküldése bírálatra]

Finanszírozási / lízing szolgáltatások és kapcsolódó kérések teljesítése érdekében

Merkantil Bank Zrt.
Budapest, József Attila u. 8, 1051
Budapest Bank Zrt.
1138 Budapest, Váci út 193.﻿
﻿


Adatvédelemmel kapcsolatos témákról további információkat az Adatvédelmi és cookie szabályzatunkban talál

 Cookie szabályzat.﻿

Budapest Hitel- és Fejlesztési Bank Zártkörűen Működő Rt.
Cég rövidített elnevezése:	Budapest Bank Zrt.
Székhely:	1138 Budapest, Váci út 193.
 
