<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Ajánlatkérés Budapest Autószalonnál</title>
    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/test.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


  </head>
  <body>
    <!--==========================
    Navbar Start
    ============================-->
        <nav id="navbar" class="home">
          <div class="nav-wrapper">
            <!-- Navbar Logo -->
            <div class="logo">
              <!-- This is the place for the logo the greatest logo of all time -->
              <a href="{% url 'fooldal' %}"><img class="logo-image" src={% static "../static/logo2.png" %}></a>
            </div>
            <!-- Navbar Links -->
            <ul id="menu">
                <li class="nav-item active">
                  <a   href="{% url 'fooldal' %}">Főoldal <span class="sr-only">(current)</span></a>
                </li>
                <li  >
                  <a   href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
                </li>
                <li  >
                  <a href="{% url 'szerviz' %}">Szerviz</a>
                </li>
                <li  >
                  <a    href="{% url 'hasznalt' %}">Használt autók</a>
                </li>
                <li  >
                  <a    href="{% url 'flottakezeles' %}">Flottakezelés</a>
                </li>
                <li  >
                  <a   href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
                </li>
            </ul>
          </div>
        </nav>
        <!-- Menu Icon -->
        <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
        <span class="icon icon-bars overlay"></span>

        </div>
        <div class="overlay-menu">
        <ul id="menu">
          <span> </span>
          <li  >
            <a   href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
          </li>
          <li  >
            <a href="{% url 'szerviz' %}">Szerviz</a>
          </li>
          <li  >
            <a    href="{% url 'hasznalt' %}">Használt autók</a>
          </li>
          <li  >
            <a    href="{% url 'flottakezeles' %}">Flottakezelés</a>
          </li>
          <li  >
            <a   href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
          </li>
          </ul>
        </div>
        <!-- End Main Navigation -->
    <body>
        <section class="paralax-mf footer-paralax bg-image sect-mt4 route">
          <div class="overlay-mf"></div>
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="title-box-2">
                            <h5 class="title-left">
                              
                              Egyedi kedvezményekért <br /> kérjen ajánlatot!
                            </h5>
                          </div>
                          <div>
                              <div class="row">
                                <form method="post">
                                  <div class="col-md-12 mb-3">
                                      {% csrf_token %}
                                      {{ form.as_p }}
                                  </div>
                                  <div class="col-md-12">
                                    <button type="submit" class="button button-a button-big button-rouded">Üzenet Küldés</button>
                                  </div>
                                </form>
                              </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="title-box-2 pt-4 pt-md-0">
                            <h5 class="title-left">
                              Kapcsolat
                            </h5>
                          </div>
                          <div class="more-info">
                            <p class="lead">
                              Felkeltettük az érdeklődését?
                              Kérjük, vegye fel velünk a kapcsolatot, hogy Önökkel együtt találjuk meg a lehető legjobb megoldást
                               igényeihez. <br />Érdeklödjön értékesítőink által kínált speciális ajánlatainkról is.


                            </p>
                            <ul class="list-ico">
                              <li>1044 Budapest Váci út 76-80</li>
                              <li> <a href = "tel: +36 1 803 6056">+36 1 803 6056</a></li>
                              <li><a href = "mailto: info@budapestautoszalon.hu">info@budapestautoszalon.hu</a></li>
                            </ul>
                          </div>
                          <!--
                          <div class="socials">
                            <ul>
                              <li><a href=""><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                              <li><a href=""><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                              <li><a href=""><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                              <li><a href=""><span class="ico-circle"><i class="ion-social-pinterest"></i></span></a></li>
                            </ul>
                          </div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        <!-- Footer -->
        <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Kezdőlap</h5>
                        <ul>
                            <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                            <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                            <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>Rólunk</h5>
                        <ul>
                            <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                            <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                            <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3">
                        <h5>Külső linkek</h5>
                        <ul>
                            <li><a href="http://www.ssangyongbudapest.hu/">Sangyong Budapest</a></li>
                            <li><a href="http://www.mitsubishibudapest.hu/">Mitsubishi Budapest</a></li>
                            <li><a href="http://www.subarubudapest.hu/">Subaru Budapest</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3 info">
                        <h5>Budapest Autószalon</h5>
                        <p>   Opel-Mitsubishi-Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>

                            h-1044 Budapest Váci út 76-80</br>Tel: 061-803-6050  </br>Fax: 061-803-6051</br>  </p>
                    </div>
                </div>
            </div>
        </footer>
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script defer type="text/javascript" src="{% static '/js/scroll.js' %}"></script>

      <script type="text/javascript">
          function myFunction() {
          var x = document.getElementsByClassName("menu")[0]  ;
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
      </script>
      <!-- Default Statcounter code for Budapest Autószalon
www.budapestautoszalon.hu -->
<script type="text/javascript">
var sc_project=9812866;
var sc_invisible=1;
var sc_security="1a0d68be";
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="ingyen
webstatisztika" href="https://www.statcounter.hu/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
alt="ingyen webstatisztika"></a></div></noscript>
<!-- End of Statcounter Code -->
  </body>



</html>
