{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{car.marka}} - {{ car.modell }} Budapest Autószalon Használtautó kereskedés</title>
    <link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="{% static 'css/car_detail.css' %}" rel="stylesheet">
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
    <link href="{% static 'css/menubar.css' %}" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

  </head>

  <body>
    <nav class="menu-top" >
      <ul class="menu__list-top">
        <li class="menu__group-top"></i>Budapest Autószalon új és használt autók</li>
        <li class="menu__group-top"><i class="fas fa-phone"></i> +36 1 803 6056</li>
        <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
        <li class="menu__group-top"><i class="far fa-envelope"></i><a href = "mailto: info@budapestautoszalon..hu">info@budapestautoszalon.hu</li></a>
      </ul>
    </nav>
    <!-- Navigation -->
    <div id="menuToggle" >
      <input type="checkbox" onclick="myFunction()" />
        <p></p>
        <span></span>
        <span></span>
        <span></span>
    <div class="page">
      <div class="page__demo">
        <nav class="menu" >
          <ul class="menu__list">
            <a class="navbar-brand" href="{% url 'fooldal' %}"><img style="width: 350px; padding-top: 20px; padding-left: 20px; " src="/static/bpat3.png" alt="Image text"></a>

            <li class="menu__group"><a href="{% url 'autolista:ujautok' %}" class="menu__link">Ajánlataink</a></li>
            <li class="menu__group"><a href="{% url 'szerviz' %}" class="menu__link">Szerviz</a></li>
            <li class="menu__group"><a href="{% url 'hasznalt' %}" class="menu__link">Használt autó</a></li>
            <li class="menu__group"><a href="{% url 'kapcsolat:kapcsolat' %}" class="menu__link">Kapcsolat</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

<!--Main layout-->
<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">
    <hr>
    <!--Grid row-->
    <div class="row wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 mb-4">

          <!--Carousel Wrapper-->
          <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
            <!--Slides-->
            <div class="ctk" role="listbox">
              {% for image in car.images.all %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="img-fluid"  src="{{image.url}}"  alt="First slide">
              </div>
              {%endfor%}

            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
            <ol class="carousel-indicators">
              {% for image in car.images.all %}
                        <li data-target="#carousel-thumb" data-slide-to="{{forloop.counter0}}" class="active"> <img class="d-block w-100" src="{{image.url}}"class="img-fluid"></li>
              {% endfor %}
            </ol>
          </div>
          <!--/.Carousel Wrapper-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">{{ car.rank}}</span>
            </a>
            <a href="">
              <span class="badge blue mr-1">Kategoria: {{car.kategoria}}</span>
            </a>
            <a href="">
              <span class="badge red mr-1">Modell: {{car.modell}}</span>
            </a>
          </div>

          <p class="lead ">
            <hr>

            <h3 font-weight-bold>{{car.marka}}</h3>

            <h4 >{{car.tipus}}</h4>
            <hr>
            <h5><i class="fas fa-tags"></i>Ára: {{car.ar}}</h5>

          </p>

         <p class="lead font-weight-bold"> Műszaki paraméterek</p>

          <p> <b>Évjárat:</b> {{car.evjarat}}</p>
          <p><b>Futott Km:</b> {{car.futottkm}}</p>
          <p><b> Motor:</b> {{car.teljesitmeny}}; hengerelrendezés: {{car.hengerelrendezes}}</p>
          <p><b> Váltó:</b> {{car.sebessegvalto}}</p>
          <p><b> Szín:</b> {{car.szin}}</p>
          <p><b> Műszaki vizsga:</b> {{car.muszaki}}</p>
          <p><b> Üzemanyag:</b>  {{car.uzemanyag}}</p>
          <hr>
          <p><b> Gépjármű előnyei:</b>  {{car.leiras}}</p>

          <p><i class="fas fa-phone-square"></i> Elérhetőségeink: {{car.telefonszam}}</p>
          <p><i class="fas fa-envelope"></i>Email: <a href = "mailto: {{car.email}}">{{car.email}}</a></p>
          <br />
          <p><a href="{% url 'hahukap:hahukapcsi' %}" class="btn btn-primary btn-block">Kapcsolat felvétel</a></p>




        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>


  </div>
</main>
<!--Main layout-->

</footer>
<!--/.Footer-->
  <!-- Footer -->
  <footer id="myFooter">
      <div class="container">
          <div class="row">
              <div class="col-sm-3">
                  <h5>Kezdőlap</h5>
                  <ul>
                      <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                      <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                      <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                  </ul>
              </div>
              <div class="col-sm-3">
                  <h5>Rólunk</h5>
                  <ul>
                      <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                      <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                      <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                  </ul>
              </div>

              <div class="col-sm-3">
                  <h5>Külső linkek</h5>
                  <ul>
                      <li><a href="http://www.ssangyongbudapest.hu/">Sangyong Budapest</a></li>
                      <li><a href="http://www.mitsubishibudapest.hu/">Mitsubishi Budapest</a></li>
                      <li><a href="http://www.subarubudapest.hu/">Subaru Budapest</a></li>
                  </ul>
              </div>
              <div class="col-sm-3 info">
                  <h5>Budapest Autószalon</h5>
                  <p>   Opel-Mitsubishi-Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>

                      h-1044 Budapest Váci út 76-80</br>Tel: 061-803-6050  </br>Fax: 061-803-6051</br>  </p>
              </div>
          </div>
      </div>

  </footer>

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Start of LiveChat code -->
  <script>
      window.__lc = window.__lc || {};
      window.__lc.license = 8624479;
      window.__lc.chat_between_groups = false;
      (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
      })();

    function myFunction() {
    var x = document.getElementsByClassName("menu")[0]  ;
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>
<!-- End of LiveChat code -->
<!-- Default Statcounter code for Budapest Autószalon
www.budapestautoszalon.hu -->
<script type="text/javascript">
var sc_project=9812866;
var sc_invisible=1;
var sc_security="1a0d68be";
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="ingyen
webstatisztika" href="https://www.statcounter.hu/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
alt="ingyen webstatisztika"></a></div></noscript>
<!-- End of Statcounter Code -->
</body>



</html>
