{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{car.marka}} - {{ car.modell }} Budapest Autószalon Használtautó kereskedés</title>
    <link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="{% static 'css/car_detail.css' %}" rel="stylesheet">
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" class="img-fluid" href="{% url 'fooldal' %}">Budapest Autószalon</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ajánlataink
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">

                <a class="dropdown-item" class="img-fluid" href=" {% url 'autolista:ujautok' %}"><img src="/static/opellogo.png"></a>

                <a class="dropdown-item" class="img-fluid" href=" {% url 'autolista:ujautok' %}"><img src="/static/Mitsubishi-logo.png"></a>

                <a class="dropdown-item" class="img-fluid" href=" {% url 'autolista:ujautok' %}"><img src="/static/Subaru-logo.png"></a>

                <a class="dropdown-item" class="img-fluid" href=" {% url 'autolista:ujautok' %}"><img src="/static/Ssangyong-logo.png"></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'szerviz' %}">Szerviz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'hasznalt' %}">Használt autó</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Carousel Wrapper-->
          <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              {% for image in car.images.all %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="d-block w-70" class="img-fluid" src="{{image.url}}" alt="First slide">
              </div>
              {%endfor%}

            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->

            <ol class="carousel-indicators">
              {% for image in car.images.all %}
              <li data-target="#carousel-thumb" data-slide-to="{{forloop.counter0}}" class="active"> <img class="d-block w-100" src="{{image.url}}"class="img-fluid"></li>
              {% endfor %}
            </ol>
          </div>
          <!--/.Carousel Wrapper-->
        </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ car.rank}}</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">{{car.kategoria}}</span>
              </a>
              <a href="">
                <span class="badge red mr-1">{{car.modell}}</span>
              </a><br/>
            </div>

            <p class="lead">
              <span class="mr-1">
              <!--  <del>futottkm: {{car.futottkm}}</del>-->
              </span>
              <span>{{car.tipus}}</span>,>
              <span>{{car.uzemanyag}}</span>

              <span>100</span>


            </p>

            <p class="lead font-weight-bold">Felszereltség</p>

            <p>{{car.felszereltseg}}</p>

            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <button class="btn btn-primary btn-md my-0 p" type="submit">Érdekel
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

    </div>
  </main>
  <!--Main layout-->
  <!-- Footer -->
  <footer id="myFooter">
      <div class="container">
          <div class="row">
              <div class="col-sm-3">
                  <h5>Kezdőlap</h5>
                  <ul>
                      <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                      <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                      <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                  </ul>
              </div>
              <div class="col-sm-3">
                  <h5>Rólunk</h5>
                  <ul>
                      <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                      <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                      <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                  </ul>
              </div>

              <div class="col-sm-3">
                  <h5>Külső linkek</h5>
                  <ul>
                      <li><a href="http://www.ssangyongbudapest.hu/">Sangyong Budapest</a></li>
                      <li><a href="http://www.mitsubishibudapest.hu/">Mitsubishi Budapest</a></li>
                      <li><a href="http://www.subarubudapest.hu/">Subaru Budapest</a></li>
                  </ul>
              </div>
              <div class="col-sm-3 info">
                  <h5>Budapest Autószalon</h5>
                  <p>   Opel-Mitsubishi-Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>

                      h-1044 Budapest Váci út 76-80</br>Tel: 061-803-6050  </br>Fax: 061-803-6051</br>  </p>
              </div>
          </div>
      </div>

  </footer>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script>


    $(document).ready(function () {
        if (screen.width < 768) {
            $(".max-width").hide();
        }
        else {

            $(".max-width").show();
        }

    });
</script>
  <!-- Start of LiveChat code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8624479;
window.__lc.chat_between_groups = false;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->

</body>



</html>
