<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Budapest Autószalon Használt autók</title>
    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">

    <link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <link href="{% static 'css/card.css' %}" rel="stylesheet">
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
    <link href="{% static 'css/menubar.css' %}" rel="stylesheet">
    <style>
        @media only screen and (min-width: 678px) {
          .filter_container{
            padding-top: 3.25rem;
            padding-left: 6.25rem;
            padding-bottom: 3.25rem;
            margin: 0 auto;
            width: 500px;
          }
        }
    </style>


  </head>
  <body>
    <!-- Navigation -->
    <nav class="menu-top" >
      <ul class="menu__list-top">
        <li class="menu__group-top"></i>Budapest Autószalon új és használt autók</li>
        <li class="menu__group-top"><i class="fas fa-phone"></i> +36 1 803 6056</li>
        <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
        <li class="menu__group-top"><i class="far fa-envelope"></i>info@budapestautoszalon.hu</li>
      </ul>
    </nav>
    <!-- Navigation -->
    <div id="menuToggle" >
      <input type="checkbox" onclick="myFunction()" />
        <p></p>
        <span></span>
        <span></span>
        <span></span>
    <div class="page">
      <div class="page__demo">
        <nav class="menu" >
          <ul class="menu__list">
            <a class="navbar-brand" href="{% url 'fooldal' %}"><img style="width: 250px; padding-left: 20px;" src="/static/bpat2.png" alt="Image text"></a>

            <li class="menu__group"><a href="{% url 'autolista:ujautok' %}" class="menu__link">Ajánlataink</a></li>
            <li class="menu__group"><a href="{% url 'szerviz' %}" class="menu__link">Szerviz</a></li>
            <li class="menu__group"><a href="{% url 'hasznalt' %}" class="menu__link">Használt autó</a></li>
            <li class="menu__group"><a href="{% url 'kapcsolat:kapcsolat' %}" class="menu__link">Kapcsolat</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
<br />

        <!--  <select name="fuels" id="fuels" class="form-control">
              <option>Üzemanyag</option>
              {% for fuel in fuels%}
                <option value='{{fuel}}' {% if fuel == selected_fuel %}selected{% endif %}>{{fuel}}</option>
              {% endfor %}
          </select>-->
        </div>
      </div>
    </form>
      <div class="filter_container">
        <form action="" method="get" accept-charset="utf-8">
          <div class="row">
            <div class="col-sm-7  "
              <div class="form-group">
                <select name="makes" id="makes" class="form-control">
                    <option>Márka</option>
                    {% for make in makes %}
                      <option value="{{make}}" {% if make == selected_make %}selected{% endif %}>{{make}}</option>
                    {% endfor %}
                </select>
                <select name="models" id="models" class="form-control">
                    <option>Modell</option>
                    {% for model in models%}
                      <option value='{{model}}' {% if model == selected_model %}selected{% endif %}>{{model}}</option>
                    {% endfor %}
                </select>
        </div>
</div>
</div>

<!--
    <div class="container">

      <h1 class="my-4">
        <small>Használt autók </small>
      </h1>


      {% for e in  data %}

      <div class="row">


        <div class="col-md-7">
          <a href="#">
            {% for image in e.images.all %}
              <img class="img-fluid rounded mb-3 mb-md-0" src="{{ image.url }}" alt="700#300">
            {% endfor %}
          </a>
        </div>
        <div class="col-md-5">
          <p> {{ e.tipus }}</p>
          <p> {{ e.modell }}</p>
          <p> {{ e.kategoria }}</p>
        </div>
      </div>

      <hr>
      {% endfor %}
    </div>-->
    {% for e in  data %}
      <div class="container-fluid">
        <div class="movie_card" id="tomb">
          <div class="info_section">
            <div class="movie_header">
              <a  href="/cars/{{e.id}}">
              <img class="locandina" src="{{e.images.first.url}}"/>
              <h1>{{ e.marka}} {{ e.modell}}  </h1>
              <h4 style="padding-top: 10px;">{{e.tipus}}</h4>
              <h5 class="minutes"><i class="fas fa-tags"></i>Ár: {{e.ar}}</h5>

              <p class="minutes"><i class="fas fa-gas-pump"></i> Üzemanyag: {{ e.uzemanyag}}</p>
              <p class="minutes"><i class="far fa-calendar-alt"></i>Évjárat: {{e.evjarat}}</p></a>
              <p class="minutes"><i class="fas fa-cogs"></i>Motor: {{e.teljesitmeny}}</p></a>

            </div>

            <!--
            <div class="movie_social">
              <ul>
                <li><i class="material-icons">share</i></li>
                <li><i class="material-icons"></i></li>
                <li><i class="material-icons">chat_bubble</i></li>


              </ul>
            </div>-->
          </div>
        </div>
      </div>
    {% endfor %}

        <!-- /.PAGINATOR -->
   <div class="paginator">
    <nav aria-label="...">
      <ul class="pagination pagination-lg">
            <span class="step-links">
                {% if data.has_previous %}
                    <a href="?page=1">&laquo; Első</a>
                    <li class="page-item"><a class="page-link" href="?page={{ data.previous_page_number }}">Következő</a></li>
                {% endif %}
                <span class="current">
                    Oldal {{ data.number }} Összesen {{ data.paginator.num_pages }}.
                </span>
                {% if data.has_next %}
                    <a href="?page={{ data.next_page_number }}">Tovább</a>
                    <a href="?page={{ data.paginator.num_pages }}">Elöző &raquo;</a>
                {% endif %}
            </span>
      </ul>
     </nav>
   </div>
   <!-- Footer -->
   <footer id="myFooter">
       <div class="container">
           <div class="row">
               <div class="col-sm-3">
                   <h5>Kezdőlap</h5>
                   <ul>
                       <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                       <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                       <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                   </ul>
               </div>
               <div class="col-sm-3">
                   <h5>Rólunk</h5>
                   <ul>
                       <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                       <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                       <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                   </ul>
               </div>

               <div class="col-sm-3">
                   <h5>Külső linkek</h5>
                   <ul>
                       <li><a href="http://www.ssangyongbudapest.hu/">Sangyong Budapest</a></li>
                       <li><a href="http://www.mitsubishibudapest.hu/">Mitsubishi Budapest</a></li>
                       <li><a href="http://www.subarubudapest.hu/">Subaru Budapest</a></li>
                   </ul>
               </div>
               <div class="col-sm-3 info">
                   <h5>Budapest Autószalon</h5>
                   <p>   Opel-Mitsubishi-Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>

                       h-1044 Budapest Váci út 76-80</br>Tel: 061-803-6050  </br>Fax: 061-803-6051</br>  </p>
               </div>
           </div>
       </div>
   </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Function for filter objects properly -->
    <script>

      $('#makes').change(function() {
        var makeValue = $('#makes').val();
        var path = window.location.pathname;
        path += '?make=' + makeValue;
        window.location.href = path;
      });
      $('#models').change(function(){
        var makeValue = $('#makes').val();
        var modelValue = $('#models').val();
        var path = window.location.pathname;
        path += '?make=' + makeValue + '&model=' + modelValue;
        window.location.href = path;
      });
      $('#fuels').change(function(){
        var makeValue = $('#makes').val();
        var modelValue = $('#models').val();
        var modelValue = $('#fuels').val();
        var path = window.location.pathname;
        path += '?make=' + makeValue + '&model=' + modelValue + '&fuel=' +fuelValue;
        window.location.href = path;
      });

    </script>

    <!-- Start of LiveChat code -->
  <script type="text/javascript">
        window.__lc = window.__lc || {};
        window.__lc.license = 8624479;
        window.__lc.chat_between_groups = false;
        (function() {
          var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
          lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
        })();

      function myFunction() {
      var x = document.getElementsByClassName("menu")[0]  ;
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>

  </body>

</html>
