<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Budapest Autószalon Használt autók</title>

    <!-- Start core CSS -->
    <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <link href="{% static 'css/card.css' %}" rel="stylesheet">
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <!-- End core CSS -->

    <style>
        @media only screen and (min-width: 678px) {
          .filter_container{
            padding-top: 3.25rem;
            padding-left: 6.25rem;
            padding-bottom: 3.25rem;
            margin: 0 auto;
            /*width: 500px;*/
          }
        }
        .grid-hahu-text{
          font-size: 30px;
          text-align: left;
        }
        select{
          padding: .875rem 1.5rem .875rem .875rem !important;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #fff;
          background-image: url(https://cdn.motors.co.uk/v3/live/ab456fa…/v4/images/icons/triangle.svg);
          background-position: 95% 50%;
          background-repeat: no-repeat;
          background-size: .5em .5em !important;
          border-color: rgba(255,255,255,.08) !important;
          border-radius: 10px !important;
          border-style: 1px solid transparent !important;
          border-width: 1px !important;
          box-shadow: 0 1px 4px 0 rgba(0,0,0,.5) !important;
          color: #4a4a4a;
          cursor: pointer;
          height: auto !important;
        }
        .fa-sort-down{
          position: absolute;
          top: 50%;
          right: 25px;
          font-size: 25px;
        }
        input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=text]:focus, select:focus, textarea:focus{
          box-shadow: 0 0 5px #48ba7e!important;
          border: 1px solid #48ba7e!important;
          outline: 0;
        }
        .select-cont{
          position: relative;
          margin-bottom: 10px;
        }
        .filter-title{
          color: #6d3965;
          display: block;
          font-family: 'Montserrat', helvetica, arial, sans-serif;
          font-size: 1rem;
          line-height: 20px;
          margin-bottom: 0.5rem;
          text-transform: none;
          font-weight: 600;
        }
    </style>
  </head>
  <body>
    <!--==========================
    Navbar Start
    ============================-->
        <nav id="navbar" class="home">
          <div class="nav-wrapper">
            <!-- Navbar Logo -->
            <div class="logo">
              <!-- This is the place for the logo the greatest logo of all time -->
              <a href="{% url 'fooldal' %}"><img class="logo-image" src={% static "../static/logo2.png" %}></a>
            </div>
            <!-- Navbar Links -->
            <ul id="menu">
                <li class="nav-item active">
                  <a   href="{% url 'fooldal' %}">Főoldal <span class="sr-only">(current)</span></a>
                </li>
                <li  >
                  <a   href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
                </li>
                <li  >
                  <a href="{% url 'szerviz' %}">Szerviz</a>
                </li>
                <li  >
                  <a    href="{% url 'hasznalt' %}">Használt autók</a>
                </li>
                <li  >
                  <a    href="{% url 'flottakezeles' %}">Flottakezelés</a>
                </li>
                <li  >
                  <a   href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
                </li>
            </ul>
          </div>
        </nav>
        <!-- Menu Icon -->
        <div class="menuIcon">
        <span class="icon icon-bars"></span>
        <span class="icon icon-bars overlay"></span>
        <span class="icon icon-bars overlay"></span>

        </div>
        <div class="overlay-menu">
        <ul id="menu">
          <span> </span>
          <li  >
            <a   href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
          </li>
          <li  >
            <a href="{% url 'szerviz' %}">Szerviz</a>
          </li>
          <li  >
            <a    href="{% url 'hasznalt' %}">Használt autók</a>
          </li>
          <li  >
            <a    href="{% url 'flottakezeles' %}">Flottakezelés</a>
          </li>
          <li  >
            <a   href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
          </li>
          </ul>
        </div>
        <br />
        <br />

        <!-- End Main Navigation -->
    <div class="filter_container">
      <div class="grid-hahu-text">
        <br />
      </div>
      <form action="" method="get" accept-charset="utf-8">
        <div class="row">
            <!-- <div class="form-group"> -->
              <div class="select-cont col-sm-3">
                <h3 class="filter-title">Manufacturer</h3>
                <i class="fas fa-sort-down"></i>
                <select name="makes" id="makes" class="form-control">
                    <option value="">Válasszon márkát</option>
                    {% for make in makes%}
                      <option value="{{make}}" {% if make == selected_make %}selected{% endif %}>{{make}}</option>
                    {% endfor %}
                </select>
              </div>

              
              <div class="select-cont col-sm-3">
                <h3 class="filter-title">Categories</h3>
                <i class="fas fa-sort-down"></i>
                <select name="categories" id="categories" class="form-control">
                    <option value="">Válasszon márkát</option>
                    {% for category in categories%}
                      <option value="{{category}}" {% if category == selected_category %}selected{% endif %}>{{category}}</option>
                    {% endfor %}
                </select>
              </div>
              
              <div class="select-cont col-sm-3">
                <h3 class="filter-title">Mileages</h3>
                <i class="fas fa-sort-down"></i>
                <select name="mileages" id="mileages" class="form-control">
                    <option value="">Válasszon márkát</option>
                    {% for mileage in mileages%}
                      <option value="{{mileage}}" {% if mileage == selected_mileage %}selected{% endif %}>{{mileage}}</option>
                    {% endfor %}
                </select>
              </div>

              <!-- <div class="select-cont col-sm-3">  
                <h3 class="filter-title">Age</h3>
                <i class="fas fa-sort-down"></i>
                <select class="form-control" name="Age" id="Age">
                    <option value="-1">Age (Any)</option>
                    <option value="1">up to 1 year old</option>
                    <option value="2">up to 2 years old</option>
                    <option value="3">up to 3 years old</option>
                    <option value="4">up to 4 years old</option>
                    <option value="5">up to 5 years old</option>
                    <option value="6">up to 6 years old</option>
                    <option value="7">up to 7 years old</option>
                    <option value="8">up to 8 years old</option>
                    <option value="9">up to 9 years old</option>
                    <option value="10">up to 10 years old</option>
                    <option value="11">over 10 years old</option>
                </select>
              </div> -->

              
              <div class="select-cont col-sm-3">
                <h3 class="filter-title">transmissions</h3>
                <i class="fas fa-sort-down"></i>
                <select name="transmissions" id="transmissions" class="form-control">
                    <option value="">Válasszon márkát</option>
                    {% for transmission in transmissions%}
                      <option value="{{transmission}}" {% if transmission == selected_transmission %}selected{% endif %}>{{transmission}}</option>
                    {% endfor %}
                </select>
              </div>


              <div class="select-cont col-sm-3">
                <h3 class="filter-title">Models</h3>
                <i class="fas fa-sort-down"></i>
                <select name="models" id="models" class="form-control">
                    <option value="">Válasszon Modell-t</option>
                    {% for model in models%}
                      <option value='{{model}}' {% if model == selected_model %}selected{% endif %}>{{model}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="select-cont col-sm-3">
                <h3 class="filter-title">Fuels</h3>
                <i class="fas fa-sort-down"></i>
                <select name="fuels" id="fuels" class="form-control">
                    <option value="">Válasszon Üzemanyagot</option>
                    {% for fuel in fuels%}
                      <option value='{{fuel}}' {% if fuel == selected_fuel %}selected{% endif %}>{{fuel}}</option>
                    {% endfor %}
                </select>
              </div>
              
              <div class="select-cont col-sm-3">
                <h3 class="filter-title">Date of the car</h3>
                <i class="fas fa-sort-down"></i>
                <select name="dates" id="dates" class="form-control">
                    <option value="">Évjárat</option>
                    <option value="1999_less_than">1999 > </option>
                    <option value="2000_to_today">2000 -tól</option>
                    <option value="2001_to_today">2001 -tól</option>
                    <option value="2002_to_today">2002 -tól</option>
                    <option value="2003_to_today">2003 -tól</option>
                    <option value="2004_to_today">2004 -tól</option>
                    <option value="2005_to_today">2005 -tól</option>
                    <option value="2006_to_today">2006 -tól</option>
                    <option value="2007_to_today">2007 -tól</option>
                    <option value="2008_to_today">2008 -tól</option>
                    <option value="2009_to_today">2009 -tól</option>
                    <option value="2010_to_today">2010 < </option>
                </select>
              </div>
              <div class="select-cont col-sm-3">
                <h3 class="filter-title">Prices</h3>
                <i class="fas fa-sort-down"></i>
                <select name="prices" id="prices" class="form-control">
                    <option value="">Ár</option>
                    <option value="1M_less">1 000 000 alatt</option>
                    <option value="2M_less">2 000 000 alatt</option>
                    <option value="3M_less">3 000 000 alatt</option>
                    <option value="4M_less">4 000 000 alatt</option>
                    <option value="5M_less">5 000 000 alatt</option>
                    <option value="6M_less">6 000 000 alatt</option>
                    <option value="7M_less">7 000 000 alatt</option>
                    <option value="8M_less">8 000 000 alatt</option>
                    <option value="9M_less">9 000 000 alatt</option>
                    <option value="10M_less">10 000 000 alatt</option>
                    <option value="11M_less">11 000 000 alatt</option>
                    <option value="12M_less">12 000 000 alatt</option>
                    <option value="13M_less">13 000 000 alatt</option>
                    <option value="14M_less">14 000 000 alatt</option>
                    <option value="15M_less">15 000 000 alatt</option>

                </select>
              </div>
          <!-- </div> -->
        </div>
    </div>
    <!-- <h2>{{ total_results }}</h2> -->
    {% for e in  data %}
      <div class="container-fluid">
        <div class="movie_card" id="tomb">
          <div class="info_section">
            <div class="movie_header">
              <a  href="/cars/{{e.id}}">
              <img class="locandina" src="{{e.images.first.url}}"/>
              <h1>{{ e.marka}} {{ e.modell}}  </h1>
              <h4 style="padding-top: 10px;">{{e.tipus}}</h4>
              <h5 class="minutes"><i class="fas fa-tags"></i>Ár: {{e.ar}}</h5>
              <p class="minutes"><i class="fas fa-gas-pump"></i> Üzemanyag: {{ e.uzemanyag}}</p>
              <p class="minutes"><i class="far fa-calendar-alt"></i>Évjárat: {{e.evjarat}}</p></a>
              <p class="minutes"><i class="fas fa-cogs"></i>Motor: {{e.teljesitmeny}}</p></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- /.PAGINATOR -->
     <div class="paginator">
      <nav aria-label="...">
        <ul class="pagination pagination-lg">
              <span class="step-links">
                  {% if data.has_previous %}
                      <a href="?page=1">&laquo; Első</a>
                      <a  href="?page={{ data.previous_page_number }}">Következő</a></li>
                  {% endif %}
                  <span class="current">
                      Oldal {{ data.number }} Összesen {{ data.paginator.num_pages }}.
                  </span>
                  {% if data.has_next %}
                      <a href="?page={{ data.next_page_number }}">Tovább</a>
                      <a href="?page={{ data.paginator.num_pages }}">Utolsó &raquo;</a>
                  {% endif %}
              </span>
        </ul>
       </nav>
     </div>
     <!-- Footer -->
     <footer id="myFooter">
         <div class="container">
             <div class="row">
                 <div class="col-sm-3">
                     <h5>Kezdőlap</h5>
                     <ul>
                         <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                         <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                         <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                     </ul>
                 </div>
                 <div class="col-sm-3">
                     <h5>Rólunk</h5>
                     <ul>
                         <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                         <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                         <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                     </ul>
                 </div>
                 <div class="col-sm-3">
                     <h5>Külső linkek</h5>
                     <ul>
                         <li><a href="http://www.ssangyongbudapest.hu/">Sangyong Budapest</a></li>
                         <li><a href="http://www.mitsubishibudapest.hu/">Mitsubishi Budapest</a></li>
                         <li><a href="http://www.subarubudapest.hu/">Subaru Budapest</a></li>
                     </ul>
                 </div>
                 <div class="col-sm-3 info">
                     <h5>Budapest Autószalon</h5>
                     <p>
                         Opel-Mitsubishi-Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>
                         h-1044 Budapest Váci út 76-80</br>Tel: 061-803-6050  </br>Fax: 061-803-6051</br>
                     </p>
                 </div>
             </div>
         </div>
     </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/scroll.js' %}"></script>

    <!-- Start of LiveChat code -->
    <script type="text/javascript">
          window.__lc = window.__lc || {};
          window.__lc.license = 8624479;
          window.__lc.chat_between_groups = false;
          (function() {
            var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
          })();

        function myFunction() {
        var x = document.getElementsByClassName("menu")[0]  ;
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>

        <!-- Default Statcounter code for Budapest Autószalon
    www.budapestautoszalon.hu -->
    <script type="text/javascript">
      var sc_project=9812866;
      var sc_invisible=1;
      var sc_security="1a0d68be";
    </script>
    <script type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js" async>
    </script>
    <noscript><div class="statcounter">
    <a title="ingyenwebstatisztika" href="https://www.statcounter.hu/"
    target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
    alt="ingyen webstatisztika"></a>
     </div></noscript>
    <!-- End of Statcounter Code -->

  </body>
</html>
