<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Budapest Autószalon Használt autók</title>

    <!-- Start core CSS -->
    <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <link href="{% static 'css/card.css' %}" rel="stylesheet">
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
    <link href="{% static 'css/menubar.css' %}" rel="stylesheet">
    <!-- End core CSS -->

    <style>
        @media only screen and (min-width: 678px) {
          .filter_container{
            padding-top: 3.25rem;
            padding-left: 6.25rem;
            padding-bottom: 3.25rem;
            margin: 0 auto;
            width: 500px;
          }
        }
        .grid-hahu-text{
          padding: 30px;
        }

    </style>
  </head>
  <body>
    <!--==========================
    Top menu
    ============================-->
      <nav class="menu-top" >
        <ul class="menu__list-top">
          <li class="menu__group-top"></i>Budapest Autószalon új és használt autók</li>
          <li class="menu__group-top"><i class="fas fa-phone"></i><a href ="tel: +36 1 803 6056"> +36 1 803 6056</li></a>
          <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
          <li class="menu__group-top"><i class="far fa-envelope"></i><a href = "mailto: info@budapestautoszalon.hu">info@budapestautoszalon.hu</li></a>
        </ul>
      </nav>
      <!-- End Top Menu -->
      <br />
      <!--==========================
      Navigation
      ============================-->
      <nav class="navbar navbar-light bg-light navbar-expand-sm">
        <a class="navbar-brand" href="{% url 'fooldal' %}">
          <img src="/static/logo2.png" width= "20%" alt="Budapest Autoszalon Logo">
        </a>
        <div class="title-name" >
          Budapest Autószalon
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          Menu

          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-list-2">
          <ul class="navbar-nav">
            <li class="nav-item active">

              <a class="nav-link" href="{% url 'fooldal' %}">Főoldal <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'szerviz' %}">Szerviz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="{% url 'hasznalt' %}">Használt autók</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="flottakezeles"> Flottakezelés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- End Main Navigation -->
    <hr >

    <div class="filter_container">
      <div class="grid-hahu-text">
          <p>Tekintse meg, bevizsgált használt autó kínálatunkat!
          Értékesítő kollégáink örömmel segítenek az
          Ön számára legideálisabb modell kiválasztásában.
          <br />Gyors és teljes körű ügyintézéssel várjuk!</p>
      </div>
      <br />
      <form action="" method="get" accept-charset="utf-8">
        <div class="row">
            <div class="form-group">
              <select name="makes" id="makes" class="form-control">
                  <option value="">Válasszon márkát</option>
                  {% for make in makes%}
                    <option value="{{make}}" {% if make == selected_make %}selected{% endif %}>{{make}}</option>
                  {% endfor %}
              </select>

              <select name="models" id="models" class="form-control">
                  <option value="">Válasszon Modell-t</option>
                  {% for model in models%}
                    <option value='{{model}}' {% if model == selected_model %}selected{% endif %}>{{model}}</option>
                  {% endfor %}
              </select>
              <select name="fuels" id="fuels" class="form-control">
                  <option value="">Válasszon Üzemanyagot</option>
                  {% for fuel in fuels%}
                    <option value='{{fuel}}' {% if fuel == selected_fuel %}selected{% endif %}>{{fuel}}</option>
                  {% endfor %}
              </select>
              <select name="dates" id="dates" class="form-control">
                  <option value="">Évjárat</option>
                  <option value="1999_less_than">1999 > </option>
                  <option value="2000_to_today">2000 -tól</option>
                  <option value="2001_to_today">2001 -tól</option>
                  <option value="2002_to_today">2002 -tól</option>
                  <option value="2003_to_today">2003 -tól</option>
                  <option value="2004_to_today">2004 -tól</option>
                  <option value="2005_to_today">2005 -tól</option>
                  <option value="2006_to_today">2006 -tól</option>
                  <option value="2007_to_today">2007 -tól</option>
                  <option value="2008_to_today">2008 -tól</option>
                  <option value="2009_to_today">2009 -tól</option>
                  <option value="2010_to_today">2010 < </option>
              </select>
            <!--  <select name="prices" id="prices" class="form-control">
                <option value="">Ár kategória</option>
                <option value="50K_less">500.000Ft -ig </option>
              </select>-->
          </div>
        </div>
    </div>
    {% for e in  data %}
      <div class="container-fluid">
        <div class="movie_card" id="tomb">
          <div class="info_section">
            <div class="movie_header">
              <a  href="/cars/{{e.id}}">
              <img class="locandina" src="{{e.images.first.url}}"/>
              <h1>{{ e.marka}} {{ e.modell}}  </h1>
              <h4 style="padding-top: 10px;">{{e.tipus}}</h4>
              <h5 class="minutes"><i class="fas fa-tags"></i>Ár: {{e.ar}}</h5>
              <p class="minutes"><i class="fas fa-gas-pump"></i> Üzemanyag: {{ e.uzemanyag}}</p>
              <p class="minutes"><i class="far fa-calendar-alt"></i>Évjárat: {{e.evjarat}}</p></a>
              <p class="minutes"><i class="fas fa-cogs"></i>Motor: {{e.teljesitmeny}}</p></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <!-- /.PAGINATOR -->
     <div class="paginator">
      <nav aria-label="...">
        <ul class="pagination pagination-lg">
              <span class="step-links">
                  {% if data.has_previous %}
                      <a href="?page=1">&laquo; Első</a>
                      <a  href="?page={{ data.previous_page_number }}">Következő</a></li>
                  {% endif %}
                  <span class="current">
                      Oldal {{ data.number }} Összesen {{ data.paginator.num_pages }}.
                  </span>
                  {% if data.has_next %}
                      <a href="?page={{ data.next_page_number }}">Tovább</a>
                      <a href="?page={{ data.paginator.num_pages }}">Utolsó &raquo;</a>
                  {% endif %}
              </span>
        </ul>
       </nav>
     </div>
     <!-- Footer -->
     <footer id="myFooter">
         <div class="container">
             <div class="row">
                 <div class="col-sm-3">
                     <h5>Kezdőlap</h5>
                     <ul>
                         <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                         <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                         <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                     </ul>
                 </div>
                 <div class="col-sm-3">
                     <h5>Rólunk</h5>
                     <ul>
                         <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                         <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                         <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                     </ul>
                 </div>
                 <div class="col-sm-3">
                     <h5>Külső linkek</h5>
                     <ul>
                         <li><a href="http://www.ssangyongbudapest.hu/">Sangyong Budapest</a></li>
                         <li><a href="http://www.mitsubishibudapest.hu/">Mitsubishi Budapest</a></li>
                         <li><a href="http://www.subarubudapest.hu/">Subaru Budapest</a></li>
                     </ul>
                 </div>
                 <div class="col-sm-3 info">
                     <h5>Budapest Autószalon</h5>
                     <p>
                         Opel-Mitsubishi-Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>
                         h-1044 Budapest Váci út 76-80</br>Tel: 061-803-6050  </br>Fax: 061-803-6051</br>
                     </p>
                 </div>
             </div>
         </div>
     </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/scroll.js' %}"></script>

    <!-- Start of LiveChat code -->
    <script type="text/javascript">
          window.__lc = window.__lc || {};
          window.__lc.license = 8624479;
          window.__lc.chat_between_groups = false;
          (function() {
            var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
          })();

        function myFunction() {
        var x = document.getElementsByClassName("menu")[0]  ;
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>

        <!-- Default Statcounter code for Budapest Autószalon
    www.budapestautoszalon.hu -->
    <script type="text/javascript">
      var sc_project=9812866;
      var sc_invisible=1;
      var sc_security="1a0d68be";
    </script>
    <script type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js" async>
    </script>
    <noscript><div class="statcounter">
    <a title="ingyenwebstatisztika" href="https://www.statcounter.hu/"
    target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
    alt="ingyen webstatisztika"></a>
     </div></noscript>
    <!-- End of Statcounter Code -->

  </body>
</html>
