<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Budapest Autószalon új és használtautók</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Magyar használt autó kereskedés és Új autó szalon Budapest Autoszalon(használt autó, használt autók, használtautó,) Közép-Európában. Legkeresettebb márkák: Škoda, Ford, Peugeot, Renault, Citroen, Daewoo, Audi, Fiat, Opel, Seat, VW, Volvo, Honda, Kia, Mazda, Subaru, SsangYong, Mitsubishi, Opel Astra">
    <meta name="keywords" content="">
    <meta name="author" content="Follow the white rabbit">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">
    <!--<link href="img/apple-touch-icon.png" rel="apple-touch-icon">-->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '505180670237885');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=505180670237885&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Bootstrap CSS File -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
    <link href="{% static 'css/menubar.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Main Analytics JavaScript -->
    <script defer src="{% static 'js/analytics.js' %}"></script>


    <style>
      .carousel-item {
        height: 60vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: contain;
      }
    </style>
  </head>
  <body>

    <!--==========================
    Top menu
    ============================-->
      <nav class="menu-top" >
        <ul class="menu__list-top">
          <li class="menu__group-top"></i>Budapest Autószalon új és használt autók</li>
          <li class="menu__group-top"><i class="fas fa-phone"></i><a href ="tel: +36 1 803 6056"> +36 1 803 6056</li></a>
          <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
          <li class="menu__group-top"><i class="far fa-envelope"></i><a href = "mailto: info@budapestautoszalon.hu">info@budapestautoszalon.hu</li></a>
        </ul>
      </nav>
      <!-- End Top Menu -->
      <br />
      <!--==========================
      Navigation
      ============================-->
      <nav class="navbar navbar-light bg-light navbar-expand-sm">
        <a class="navbar-brand" href="{% url 'fooldal' %}">
          <img src="/static/logo2.png" width= "20%" alt="Budapest Autoszalon Logo">
        </a>
        <div class="title-name" >
          Budapest Autószalon
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          Menu

          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-list-2">
          <ul class="navbar-nav">
            <li class="nav-item active">

              <a class="nav-link" href="{% url 'fooldal' %}">Főoldal <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'szerviz' %}">Szerviz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="{% url 'hasznalt' %}">Használt autók</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- End Main Navigation -->
    <hr >

    <!--==========================
    Carousel
    ============================-->
      <header class="hedy" >
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
              <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('/static/mainbanner/subaru-main.png')">
                  <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4"></h3>
                    <p><a href="{% url 'forester' %}" class="btn btn-secondary">Bövebben</a></p>
                  </div>
                </div>
                <!-- Slide  Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('static/mainbanner/ssangyongtivoli.png')">
                  <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4"></h3>
                    <p><a href="{% url 'tivoli-akcio' %}"class="btn btn-secondary">Bövebben</a></p>
                  </div>
                </div>
                  <div class="carousel-item" style="background-image: url('static/mainbanner/asxmitsu.png')">
                    <div class="carousel-caption d-none d-md-block">
                      <h3 class="display-4"></h3>
                      <p><a href="{% url 'mitsu-asx' %}"  class="btn btn-secondary">Bövebben</a></p>
                  </div>
                </div>
              </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </header>
      <!--END **** Carousel Item **** -->
      <!--==========================
        Markak Section
      ============================-->
      <section id="pricing" class="wow fadeInUp section-bg" >

        <div class="container">

          <header class="section-header">
            <h3>Általunk forgalmazott márkák</h3>
            <p></p>
          </header>

          <div class="row flex-items-xs-middle flex-items-xs-center">

            <!-- Basic Plan  -->
            <div class="col-xs-12 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <img src="/static/Logo/Subaru-logo.png" style="width:40%;" class="img-fluid" alt="">
                </div>
                <div class="card-block">
                  <h4 class="card-title">
                    Subaru Budapest
                  </h4>
                  <ul class="list-group">
                    <li class="list-group-item"><a href="http://www.subarubudapest.hu/" target="_blank">Márka weboldal</li></a>
                    <li class="list-group-item"><a href=""{% url 'ajanlatkapcsolat' %}"">Aktuális ajánlat</li></a>
                  </ul>
                  <a href="{% url 'ajanlatkapcsolat' %}" class="btn">Kapcsolat felvétel</a>
                </div>
              </div>
            </div>
            <!-- Basic Plan  -->
            <div class="col-xs-12 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <img src="/static/Logo/opellogo.png" style="width:40%;" class="img-fluid" alt="">
                </div>
                <div class="card-block">
                  <h4 class="card-title">
                    Opel Sziget
                  </h4>
                  <ul class="list-group">
                    <li class="list-group-item"><a href="https://www.opelsziget.hu/ajanlataink/" target="_blank">Márka weboldal</li></a>
                    <li class="list-group-item"><a href=""{% url 'ajanlatkapcsolat' %}"">Aktuális ajánlat</li></a>
                  </ul>
                  <a href="{% url 'ajanlatkapcsolat' %}" class="btn">Kapcsolat felvétel</a>
                </div>
              </div>
            </div>

            <!-- Regular Plan  -->
            <div class="col-xs-12 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <img src="/static/Logo/Mitsubishi-logo.png" style="width:40%;" class="img-fluid" alt="">
                </div>
                <div class="card-block">
                  <h4 class="card-title">
                    Mitsubishi Budapest
                  </h4>
                  <ul class="list-group">
                    <li class="list-group-item"><a  href="http://www.mitsubishibudapest.hu/" target="_blank">Márka weboldal</li></a>
                    <li class="list-group-item"><a href=""{% url 'ajanlatkapcsolat' %}"">Aktuális ajánlat</li></a>
                  </ul>
                  <a href="{% url 'ajanlatkapcsolat' %}" class="btn">Kapcsolat felvétel</a>
                </div>
              </div>
            </div>

            <!-- Premium Plan  -->
            <div class="col-xs-12 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <img src="/static/Logo/SsangYong-logo.png" style="width:40%;" class="img-fluid" alt="">
                </div>
                <div class="card-block">
                  <h4 class="card-title">
                    SsangYong Budapest
                  </h4>
                  <ul class="list-group">
                    <li class="list-group-item"><a href="http://www.ssangyongbudapest.hu/" target="_blank">Márka weboldal</li></a>
                    <li class="list-group-item"><a href=""{% url 'ajanlatkapcsolat' %}"">Aktuális ajánlat</li></a>
                  </ul>
                  <a href="{% url 'ajanlatkapcsolat' %}" class="btn">Kapcsolat felvétel</a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </section><!-- #pricing -->
      <!--==========================
        Call To Action Section
      ============================-->
      <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Garanciális használt autók</h3>
              <p class="cta-text"> Továbbra is azon munkálkodunk, hogy a járműveink még elérhetőbbek legyenek az Önök számára.<br />
                 Sőt, kedvező törlesztő részlettel és további lehetőségekkel várjuk Önt!</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="{% url 'hasznalt' %}">Autóink</a>
            </div>
          </div>

        </div>
      </section><!-- #call-to-action -->
      <!--==========================
        Szolgaltatasok Section
      ============================-->
      <section id="services" class="section-bg">
        <div class="container">

          <header class="section-header">
            <h3>Szolgáltatások</h3>
            <p>A Budapest Autószalon, az autóértékesítés és szerviz, mellett további szolgáltatásokat is kínál Önnek.</p>
          </header>

          <div class="row">

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
              <!--  <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>-->
                <h4 class="title">Teljeskörű ügyintézés</h4>
                <p class="description">Nemcsak hogy segítünk, de el is tudjuk intézni Ön helyett (műszaki, átiratás stb). Bővebb információt a legközelebbi telephelyen kaphat.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <!--<div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>-->
                <h4 class="title">Biztosításkötés</h4>
                <p class="description">Kötelező és casco biztosítás együttkötés, ügyintézés.
                                        Számos biztosítóval vagyunk kapcsolatban,
                                      így velünk tudja a legegyszerűbben megtalálni a legkedvezőbb ajánlatot.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <!--<div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>-->
                <h4 class="title">Műszaki vizsga</h4>
                <p class="description">A hatósági műszaki vizsgáztatást helyben végezzük, melyet előzetes műszaki átvizsgálással egészítünk ki.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
              <!--  <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>-->
                <h4 class="title">Garancia</h4>
                <p class="description">Használt autók és új autók esetében is van mód, hogy a felmerülő szervizköltségek kapcsán ne kelljen aggódnod.
                                      A részletek kapcsán kérdezd munkatársainkat!</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
              <div class="box">
              <!--  <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>-->
                <h4 class="title">Hitel / Finanszírozás</h4>
                <p class="description">Több pénzintézet ajánlata alapján dönthet a Önnek tetsző konstrukció mellett,
                                      Akár magánszemélyként akár vállalkozásként, legyen szó kis- vagy nagy értékű autóról,
                                      sokféle ajánlat közül válogathat, forint alapon. </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
              <div class="box">
                <!--<div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>-->
                <h4 class="title">Szerviz</h4>
                <p class="description"> Telephelyünkön minden technológiai feltétel  adott ahhoz, hogy a hozzánk érkező gépjárműveket szakszerűen és pontosan megjavíthassuk</p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- #services -->



      <section id="features">
      <div class="container">

        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src="/static/bpszlo.JPG" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Budapest Autószalon</h4>
            <p>
              Több mint 20 éves értékesítési tapasztalattal a hátunk mögött, 2009-ben hoztuk létre cégünket azzal a szándékkal, hogy átlagon felüli környezetben, minőségi, magas színvonalú személyre szabott kiszolgálásban részesítsük Ügyfeleinket.
              Az ország egyik legnagyobb raktárkészletével rendelkezünk, így a megvásárolt autókat, akár rövid határidővel tudjuk átadni kedves Vásárlóink részére.
            </p>
            <p>
              Használt autó kereskedésünkben, több mint száz, a cégünk által átvizsgált autó közül válogathat Eladásra kínált gépjárművet típustól, évjárattól, állapottól függetlenül reális áron beszámítjuk vagy megvásároljuk.
            </p>
          </div>
        </div>

        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="/static/logo2.png"" class="img-fluid" alt="szalinkep">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4></h4>
            <p>
              Autószalonunkban a forgalmazott márkák teljes típusválasztéka megtalálható.
               Kollégáink, naprakész információkkal, teljeskörű típus ismereti tapasztalatokkal,
               gyakorlati segítséggel állnak az Ügyfelek rendelkezésére.
            </p>
            <p>
              Márkaszervizünkben az évente megforduló több ezer modell átvizsgálási és javítási munkáit, okleveles,
              jól képzett autószerelőink végzik el. Ezen feladatra egy 700 m2 területű műhelycsarnok áll a
              szakembereink rendelkezésére, teljes szerviz infrastruktúrával.
              A forgalmazott márkáink mellett - márka függetlenül - bármely típus szervizelését vállaljuk.
            </p>
          </div>
        </div>
      </div>
    </section>

      <!-- Footer -->
      <footer id="myFooter">
          <div class="container">
              <div class="row">
                  <div class="col-sm-3">
                      <h5>Kezdőlap</h5>
                      <ul>
                          <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                          <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                          <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-3">
                      <h5>Rólunk</h5>
                      <ul>
                          <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                          <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                          <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                      </ul>
                  </div>

                  <div class="col-sm-3 info">
                      <h5>Nyitva tartás</h5>
                      <p>
                        Új- és használt autó<br />
                        H-P: 9-18 / Sz: 9-13<br />
                        <p> </p>
                        Szerviz, Alkatrész<br />
                        H-P: 8-17 / Sz: Zárva</p>

                  </div>

                  <div class="col-sm-3 info">

                      <h5>Budapest Autószalon</h5>
                      <p>   Opel-Mitsubishi-<br />Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br >
                        <a href="https://www.google.com/maps/dir/Budapest,+Budapest+Autószalon+új+és+használtautó+kereskedés+és+szerviz,+Váci+út" target="_blank" class="btn btn-white btn-animation-1">Útvonal</a>

                        <br />  h-1044 Budapest Váci út 76-80</br>Tel: 06 1-803-6050  </br>Fax: 06 1-803-6051</br>
                        </p>
                  </div>
                  <hr>
              </div>

          </div>
      </footer>
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script type="text/javascript" src="{% static '/js/scroll.js' %}"></script>

      <!-- Start of LiveChat code -->
      <script type="text/javascript">
            window.__lc = window.__lc || {};
            window.__lc.license = 8624479;
            window.__lc.chat_between_groups = false;
            (function() {
              var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
              lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
            })();

          function myFunction() {
          var x = document.getElementsByClassName("menu")[0]  ;
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
      </script>
      <!-- End of LiveChat code -->

      <!-- Default Statcounter code for Budapest Autószalon  -->

      <script type="text/javascript">
        var sc_project=9812866;
        var sc_invisible=1;
        var sc_security="1a0d68be";
      </script>

      <script type="text/javascript"
        src="https://www.statcounter.com/counter/counter.js"
        async></script>
        <noscript><div class="statcounter"><a title="ingyen
        webstatisztika" href="https://www.statcounter.hu/"
        target="_blank"><img class="statcounter"
        src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
        alt="ingyen webstatisztika"></a></div></noscript>
      <!-- End of Statcounter Code -->

  </body>
</html>
