
          <!--Carousel Wrapper-->
          <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
            <!--Slides-->
            <div class="ctk" role="listbox">
              {% for image in car.images.all %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="img-fluid" src="{{image.url}}" data-toggle="lightbox"   alt="First slide">
              </div>
              {%endfor%}

            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
            <ol class="carousel-indicators">
              {% for image in car.images.all %}
                        <li data-target="#carousel-thumb" data-slide-to="{{forloop.counter0}}" class="active"> <img class="d-block w-100" src="{{image.url}}"class="img-fluid"></li>
              {% endfor %}
            </ol>
          </div>
          <!--/.Carousel Wrapper-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">{{ car.rank}}</span>
            </a>
            <a href="">
              <span class="badge blue mr-1">Kategoria: {{car.kategoria}}</span>
            </a>
            <a href="">
              <span class="badge red mr-1">Modell: {{car.modell}}</span>
            </a>
          </div>

          <p class="lead ">

            <h3 font-weight-bold>{{car.marka}}</h3>

            <h4 >{{car.tipus}}</h4>
          </p>

         <p class="lead font-weight-bold"></p>

          <p>Évjárat: {{car.evjarat}}</p>
          <p>Futott Km: {{car.futottkm}}</p>
          <p>Üzemanyag: {{car.uzemanyag}}</p>

            <!-- Default input -->

            <button class="btn btn-primary btn-md my-0 p" type="submit"> Telefoszám: {{car.telefonszam}}
              <i class="fas ml-1"></i>
            </button>


        </div>
        <!--Content-->
