<form>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Personal Information
      </div>
      <div class="panel-body">
        <div class="form-group form-group-inline">
          <label class="label-block">First Name</Label>
          <input class="form-control form-control-inline form-control-medium" placeholder="First Name" />
        </div>


      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Payment Information
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>

</form>
