<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Szerviz Ajanlat Budapest Autószalon</title>
    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="menu-top" >
      <ul class="menu__list-top">
        <li class="menu__group-top"></i>Budapest Autószalon új és használt autók</li>
        <li class="menu__group-top"><i class="fas fa-phone"></i> +36 1 803 6056</li>
        <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
        <li class="menu__group-top"><i class="far fa-envelope"></i><a href = "mailto: info@budapestautoszalon.hu">info@budapestautoszalon.hu</li></a>
      </ul>
    </nav>
    <br />
    <nav class="navbar navbar-light bg-light navbar-expand-sm">
      <a class="navbar-brand" href="{% url 'fooldal' %}">
        <img src="/static/logo2.png" width= "20%" alt="Budapest Autoszalon Logo">
      </a>
      <div class="title-name">
        Budapest Autószalon
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        Menu

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'fooldal' %}">Főoldal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'szerviz' %}">Szerviz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hasznalt' %}">Használt autók</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </nav>
<br />
    <body>

        <div class="container-fluid">
          <br />
          <div class="szerviz-text" class="page-header">
            <h2>Ön pontosan tudja, hogy mi a baja autójának, vagy nem is sejti?  <br />
            Már régi Ügyfelünk, vagy most lépne velünk kapcsolatba először? <br />Küldje el üzenetét és kollégáink válaszolnak Önnek!</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Küldjön üzenetet.
                </div>
                <div class="card-body">
                  <div class="col-xs-7 col-xs-6" >
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}</div>
                  </form>
                </div>
            </div>
        </div>

        <div class="col-xs-5 col-sm-6 col-lg-4" >
          <div class="card bg-light mb-3">
              <div class="card-header bg-dark text-white text-uppercase"><i class="fa fa-home"></i> Cimünk </div>
                <div class="card-body">
                    <p>Váci út 76-80</p>
                    <p>1044 Budapest</p>
                    <p>H-P 8:00 - 17:00</p>
                    <p>Email : info@budapestautoszalon.hu</p>
                    <p>Tel: +36 1 803 6056</p>
                </div>
            </div>
          </div>
        </div>

      <!-- Footer -->
      <footer id="myFooter">
          <div class="container">
              <div class="row">
                  <div class="col-sm-3">
                      <h5>Kezdőlap</h5>
                      <ul>
                          <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                          <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                          <li><a href="#">Adatvédelmi </a></li>
                      </ul>
                  </div>
                  <div class="col-sm-3">
                      <h5>Rólunk</h5>
                      <ul>
                          <li><a href="#">Cégünkről</a></li>
                          <li><a href="#">Szerviz bejelentkezés</a></li>
                          <li><a href="#">Vélemények</a></li>
                      </ul>
                  </div>
                  <!--
                  <div class="col-sm-3">
                      <h5>Support</h5>
                      <ul>
                          <li><a href="#">FAQ</a></li>
                          <li><a href="#">Help desk</a></li>
                          <li><a href="#">Forums</a></li>
                      </ul>
                  </div>-->
                  <div class="col-sm-3 info">
                      <h5>Budapest Autószalon</h5>
                      <p>   Opel-Mitsubishi-Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>

                          h-1044 Budapest Váci út 76-80</br>Tel: 061-803-6050  </br>Fax: 061-803-6051</br>  </p>
                  </div>
              </div>
          </div>
          <div class="second-bar">
             <div class="container">
                  <h2 class="logo"><a href="{% url 'fooldal' %}"> Budapest Autószalon </a></h2>
                  <div class="social-icons">
                    <!--  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>-->
                      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                      <!---<a href="#" class="google"><i class="fa fa-google-plus"></i></a>-->
                  </div>
              </div>
          </div>
      </footer>
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <!-- Default Statcounter code for Budapest Autószalon
www.budapestautoszalon.hu -->
<script type="text/javascript">
var sc_project=9812866;
var sc_invisible=1;
var sc_security="1a0d68be";
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="ingyen
webstatisztika" href="https://www.statcounter.hu/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
alt="ingyen webstatisztika"></a></div></noscript>
<!-- End of Statcounter Code -->
  </body>



</html>
