{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Budapest Autószalon</title>
  <!-- Bootstrap core CSS -->

  <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">
  <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
  <link href="{% static 'css/servicepara.css' %}" rel="stylesheet">
  <link href="{% static 'css/menubar.css' %}" rel="stylesheet">
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>
<body>
  <!--==========================
  Top menu
  ============================-->
    <nav class="menu-top" >
      <ul class="menu__list-top">
        <li class="menu__group-top"></i>Budapest Autószalon új és használt autók</li>
        <li class="menu__group-top"><i class="fas fa-phone"></i><a href ="tel: +36 1 803 6056"> +36 1 803 6056</li></a>
        <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
        <li class="menu__group-top"><i class="far fa-envelope"></i><a href = "mailto: info@budapestautoszalon.hu">info@budapestautoszalon.hu</li></a>
      </ul>
    </nav>
    <!-- End Top Menu -->
    <br />
    <!--==========================
    Navigation
    ============================-->
    <nav class="navbar navbar-light bg-light navbar-expand-sm">
      <a class="navbar-brand" href="{% url 'fooldal' %}">
        <img src="/static/logo2.png" width= "20%" alt="Budapest Autoszalon Logo">
      </a>
      <div class="title-name" >
        Budapest Autószalon
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        Menu

        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
          <li class="nav-item active">

            <a class="nav-link" href="{% url 'fooldal' %}">Főoldal <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'szerviz' %}">Szerviz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'hasznalt' %}">Használt autók</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="flottakezeles"> Flottakezelés</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </nav>
  <!-- End Main Navigation -->
  <hr >
<!-- End Main Navigation -->

<!--section first-section-->
  <section id="Cats">
    <div class="section first-section">
      <div class="container">
        <div class="row">
          <div class="row align-items-center justify-content-around">
          <!-- column 1 -->
            <div class="col-12 col-lg-5">
              <img class="img-fluid" src="/static/szerviz/iconicon.png" alt="altalanos szerviz">
            </div>

          <!-- column 2 -->
            <div class="col-12 col-lg-5">
              <h2>Teljes körű autószerviz</h2>
              <p>Komplex szolgáltatásokat nyújtunk.</br >
                Az Budapest Autószalon független személygépkocsi szervize a legjobb szolgáltatásokat kínálják az Ön gépjárművének.<br />
                Szakértő tanácsadóink és magasan kvalifikált szerviz munkatársaink gondoskodnak gépjárműve optimális karbantartásáról és javításáról.</p>
                <p><a href="{% url 'szervizkap:szervizkapcsi' %}" class="btn btn-success">Szerviz bejelentkezés</a></p>
              <ul>
                <li>Általános gépjármű szerviz</li>
                <li>Motor diagnosztika</li>
                <li>Fék és futómű szerelés</li>
                <li>Időszakos szervizek</li>
                <li>Karosszéria javítás</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <!--section second-section-->
  <section id="Diet">
    <div class="section second-section">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-12 col-sm-10 col-md-8 col-lg-5">
            <h2>ÁLTALÁNOS ÁTTEKINTÉS</h2>
            <p>Az olajcserétől a motorcseréig, mindenben tudunk segíteni Önnek.
               Mindenre van megoldásunk, bármilyen autótipusról is legyen szó.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section second-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-3">
            <i class="fas fa-bolt"></i>
            <h3>Autóvillamosság</h3>
            <p>Autóvillamossági javítások, riasztó beszerelés, központi zár,
               elektromos ablak javítása, autórádió kikódolása, beszerelése</p>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <i class="fas fa-wrench"></i>
            <h3>Motor és váltójavítás</h3>
            <p>Megbízható tapasztalt szerelőinkkel motor felújítást
               és sebesség váltó felújítást is vállalunk.</p>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <i class="fas fa-oil-can"></i>
            <h3>Olajcsere, szűrők cseréje</h3>
            <p>Olaj és olajszűrő csere. Levegőszűrő,
               pollenszűrő, üzemanyag szűrő csere</p>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <i class="fas fa-laptop-code"></i>
            <h3>Hibakódolvasás</h3>
            <p>Vezérlőegység azonosítás. Hibakódok olvasása.
               Hibakódok törlése.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--section third-section-->
  <div class="section third-section">
    <div class="container">
      <div class="row align-items-center justify-content-around">
        <div class="col-12 col-md-5">
          <h2>Klímatisztítás</h2>
          <p>A gázzal működő spray-k használata, egyszerű.<br />
             Az autón be kell kapcsolni a klímát teljes intenzitással, majd belső levegőkeringetésre váltani.
             <br />A sprayt be kell tenni az utastérbe és speciális kiképzésű fejét be kell pattintani,
             amitől az folyamatosan kiengedi a gázt. Gyorsan rázárjuk az ajtót, majd várunk tíz percet,
             ami idő alatt a fertőtlenítő gáz átjárja az autót és annak szellőzőjáratait.
             Tíz perc után nyitott ajtókkal hosszan átszellőztetjük az utasteret és kész.
             Nem maradhat el a pollenszűrőcsere sem.</p>
             <p class="lead"><a href="{% url 'szervizkap:szervizkapcsi' %}" class="btn btn-success">Szerviz bejelentkezés</a></p>
         </div>
         <div class="col-12 col-md-5">
           <img class="rounded img-fluid" src="/static/szerviz/klimatistt.jpg" alt="">
         </div>
       </div>
     </div>
   </div>

  <!--section fourth-section-->
  <div class="section fourth-section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
        <h4>Műszereinket az autók fejlődésével együtt fejlesztjük,
            és ehhez mérten képezzük szakértő munkatársainkat.<br />
           <br />Műszaki hibás járművek esetében magasan kvalifikált kollégáink a gyári
           adatbázisok és a típusfüggő diagnosztikai rendszerek felhasználásával
           állapítják meg gépkocsijának meghibásodási tényezőit.<br />
           A probléma feltárását követően hibalistával és árajánlatban
           tájékoztatják Önt a várható költségekről és a munkafolyamatok időtartamáról.<br />
          <br /> Budapest 1044 Külső Váci út 76-80 szám alatt
           várjuk kedves ügyfeleinket sérült,
           hibás, vagy egyszerűen szervizelésre váró gépkocsijaikkal.</h4>
          <p class="lead"><a href="{% url 'szervizkap:szervizkapcsi' %}" class="btn btn-success">Szerviz bejelentkezés</a></p>
        </div>
      </div>
    </div>
  </div>
  <div id="map">
    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2691.699700237101!2d19.07857421559379!3d47.573630979182525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dd5e619943f5%3A0x10cc18acc136afcc!2zQnVkYXBlc3QgQXV0w7NzemFsb24gw7pqIMOpcyBoYXN6bsOhbHRhdXTDsyBrZXJlc2tlZMOpcyDDqXMgc3plcnZpeg!5e0!3m2!1sen!2shu!4v1549012906222"
     width="800" height="450" frameborder="0"style="border:0" ></iframe>
  </div>
    <!-- Footer -->
    <footer id="myFooter">
      <div class="container">
          <div class="row">
              <div class="col-sm-3">
                  <h5>Kezdőlap</h5>
                  <ul>
                      <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                      <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                      <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                  </ul>
              </div>
              <div class="col-sm-3">
                  <h5>Rólunk</h5>
                  <ul>
                      <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                      <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                      <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                  </ul>
              </div>
              <div class="col-sm-3">
                  <h5>Külső linkek</h5>
                  <ul>
                      <li><a href="http://www.ssangyongbudapest.hu/">Sangyong Budapest</a></li>
                      <li><a href="http://www.mitsubishibudapest.hu/">Mitsubishi Budapest</a></li>
                      <li><a href="http://www.subarubudapest.hu/">Subaru Budapest</a></li>
                  </ul>
              </div>
              <div class="col-sm-3 info">
                  <h5>Budapest Autószalon</h5>
                  <p>   Opel-Mitsubishi-Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>
                      h-1044 Budapest Váci út 76-80</br>Tel: 061-803-6050  </br>Fax: 061-803-6051</br>  </p>
              </div>
           </div>
       </div>
     </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/scroll.js' %}"></script>

    <!-- Start of LiveChat code -->
    <script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 8624479;
    window.__lc.chat_between_groups = false;
    (function() {
      var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
      lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
    </script>
    <!--End of LiveChat code -->

    <script>
    function myFunction() {
      var x = document.getElementsByClassName("menu")[0]  ;
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>

  <!-- Default Statcounter code for Budapest Autószalon
  www.budapestautoszalon.hu -->

    <script type="text/javascript">
      var sc_project=9812866;
      var sc_invisible=1;
      var sc_security="1a0d68be";
    </script>
    <script type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js"
      async>
    </script>
    <noscript><div class="statcounter"><a title="ingyenes
    webstatisztika" href="https://www.statcounter.hu/"
    target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
    alt="ingyenes webstatisztika"></a></div></noscript>
    <!-- End of Statcounter Code -->
  </body>
</html>
