{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Budapest Autószalon</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">
    <link href="{% static 'css/7szemely.css' %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static 'css/menubar.css' %}" rel="stylesheet">
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">

          <style>
             .bd-placeholder-img {
               font-size: 1.125rem;
               text-anchor: middle;
               -webkit-user-select: none;
               -moz-user-select: none;
               -ms-user-select: none;
               user-select: none;
             }
               .carousel-item {
                 height: 25vh;
                 min-height: 300px;
                 background: no-repeat center center scroll;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 -o-background-size: cover;
                 background-size: cover;
               }
             @media (min-width: 768px) {
               .bd-placeholder-img-lg {
                 font-size: 3.5rem;
               }
             }

           </style>
           <!-- Custom styles for this template -->
           <link href="carousel.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="menu-top" >
      <ul class="menu__list-top">
        <li class="menu__group-top">Budapest Autószalon új és használt autók</li>
        <li class="menu__group-top"><i class="fas fa-phone"></i> +36 1 803 6056</li>
        <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
        <li class="menu__group-top"><i class="far fa-envelope"></i><a href = "mailto: info@budapestautoszalon.hu">info@budapestautoszalon.hu</li></a>
      </ul>
    </nav>
    <br />
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light navbar-expand-sm">
      <a class="navbar-brand" href="{% url 'fooldal' %}">
        <img src="/static/logo2.png" width= "20%" alt="Budapest Autoszalon Logo">
      </a>
      <div class="title-name">
        Budapest Autószalon
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        Menu

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'fooldal' %}">Főoldal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'szerviz' %}">Szerviz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hasznalt' %}">Használt autók</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </nav>

<hr >
<div id="fist"><h1>Fontos tudnivalók</h1></div>
<header>
  <div class="container">
    <h3 class="display-2"> </h3>
    <p class="lead">Családi Autók 2 500 000 Ft-os állami támogatással<br /> a Budapest Autószalon kínálatában </p>
  </div>
</header>
<div id="ecar-important">
		<div class="container main-container" id="ecar-important-content">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button  class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h6 class="ecar-title-little">Támogatás mértéke</h6>

              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p class="ecar-text">2,5 millió forint vissza nem térítendő támogatás, amely igencsak nagyvonalú ajánlat.
                <br />A támogatás összege legfeljebb az autó bruttó vételárának fele lehet</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h6 class="ecar-title-little">Ki igényelheti a támogatást?</h6>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <p class="ecar-text">A támogatást olyan nagycsaládosok kérhetik, akik legalább 3 gyermek után jogosultak családi pótlékra.
                <br />Az a várandós anya, akinek már két gyermeke van (vagy ikerterhesség esetén egy), és a születendő magzat már 12 hetes, szintén jogosult a támogatásra</p>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h6 class="ecar-title-little">Mikor lehet igényelni?</h6>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p class="ecar-text">A támogatási kérelem benyújtására 2019. július 1-je és 2022. december 31-e között van lehetőség.</p>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h6 class="ecar-title-little">Mire lehet igényelni?</h6>
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <p class="ecar-text">Legalább 7 személyes új személygépkocsira.
                <br />Az árra vonatkozóan nincs megkötés, 5 millió forint alatti autó esetén az ár fele jár.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <h6 class="ecar-title-little">Mi a támogatás menete?</h6>
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              <p class="ecar-text">Az igényléshez támogatási kérelmet kell benyújtani a Magyar Államkincstárhoz vagy a kormányablakokba.
                 <br />A kézhez kapott határozat után hat hónapon belül kell valamelyik szülőnek megkötnie az adásvételi szerződést.
                 <br /> A kereskedés az Államkincstártól kapja meg a pénzt, tehát nem kell előfinanszírozni az összeget a nagycsaládosoknak, csak a fennmaradó összeget kell kifizetni.</p>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <h6 class="ecar-title-little">Milyen formában vásárolhatok?</h6>
              </button>
            </h2>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
              <p class="ecar-text">Az autót hagyományos adásvételi vagy zárt végű lízingszerződéssel, de hitellel is meg lehet vásárolni.</p>


            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSeven">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <h6 class="ecar-title-little">Milyen feltételek kötnek még?</h6>

              </button>
            </h2>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
              <p class="ecar-text">A támogatás egyszer igényelhető, az autót pedig 3 évig nem szabad eladni vagy átalakítani.
                Ezenfelül az autón a kereskedőnek el kell helyeznie egy „Családbarát Magyarország" matricát, melyet 3 évig rajta kell hagyni az autón.</p>


            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingEight">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <h6 class="ecar-title-little">Milyen esetekben kell visszafizetni?</h6>

              </button>
            </h2>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body">
              <p class="ecar-text">Ha az igénylési nyilatkozat a valóságnak nem megfelelő adatokat tartalmaz.
                Ha az igénylő nem teljesíti az elidegenítési tilalom bejegyeztetésére vonatkozó kötelezettségét, vagy ha három éven belül házassága vagy élettársi kapcsolata úgy szűnik meg, hogy a gyermekek elhelyezése szempontjából már nem minősül nagycsaládosnak.</p>

            </div>
          </div>
        </div>
      </div>


      <main role="main">




       <!-- Marketing messaging and featurettes
       ================================================== -->
       <!-- Wrap the rest of the page in another container to center all the content. -->

       <div class="container marketing">

         <br/>
         <div><h1>Tekintse meg <br />7 személyes modelljeinket!</h1></div>
         <br/>


         <!-- START THE FEATURETTES -->
         <hr class="featurette-divider">

         <br />
         <hr class="featurette-divider">
         <br />
         <h1> SsangYong Rexton G4</h1>
         <h3 style="color:#F08080;">Nagycsaládos kedvezménnyel:<br /> 6 010 000Ft-tól </h3>

         <br />
         <div class="row featurette">
           <div class="col-md-7">

             <h2 class="featurette-heading">Tágas és rugalmasan alakítható <span class="text-muted"><br /><h3></span></h2>
             <p class="lead">Mind az első, mind a hátsó üléssor fűthető, az első sorban levők pedig szellőztethetők is. A memóriás vezetőülésnek köszönhetően három különböző vezető tudja saját ülés-, kormány- és visszapillantótükör-beállításait elmenteni.
                          A belső tér optimalizációjának köszönhetően minden utas számára nagy lábtér áll rendelkezésére. A hátsó üléssor lehajtható, ezáltal a csomagtartó térfogata maximálisra növelhető.
                          Nézze meg, hogyan alakíthatja a belső teret az 5 és a 7 üléses változat esetén!</p>
           </div>

           <div class="col-md-5">
             <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/7ules/rexton/rexton2.jpg" class="img-fluid" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/7ules/rexton/rexton3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/7ules/rexton/ssangyongrexton-1.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
           </div>
           <div class="wrapper2">
              <div>
                <a href="{% url 'ajanlatkapcsolat' %}"<button  class="btn btn-danger">Kapcsolat felvétel </button></a>
              </div>
              <!--  <div>
                  <a href="https://www.opelsziget.hu/opelgepjarmuvek/opelszemelygepjarmuvek/combo-life-my19/index/" target="_blank"<button  class="btn btn-info"  >Műszaki adatok </button></a>
                </div>-->

           </div>

         </div>

         <hr class="featurette-divider">
         <br />
         <h1>Opel Zafira</h1>
         <h3>Induló ár: 7 000 000Ft-tól </h3>

         <br />
         <div class="row featurette">
           <div class="col-md-5">
             <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/7ules/zafira/zafira1.jpg" class="img-fluid" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/7ules/zafira/zafira2.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
           </div>
           <div class="col-md-7">

             <h2 class="featurette-heading">Ülésrendezés bármilyen helyzetre<span class="text-muted"><br /><h3></span></h2>
             <p class="lead">Az új mércét felállító<b> FLEX 7<sup>®</sup> PLUS ülésrendszerrel </b>
                            Ön szabadon átrendezheti az üléseket a szállított utasok, csomagok és teher kombinációjának megfelelően.<br /></p>
           </div>


           <div class="wrapper2">
              <div>
                <a href="{% url 'ajanlatkapcsolat' %}"<button  class="btn btn-danger">Kapcsolat felvétel </button></a>
              </div>
              <!--  <div>
                  <a href="https://www.opelsziget.hu/opelgepjarmuvek/opelszemelygepjarmuvek/combo-life-my19/index/" target="_blank"<button  class="btn btn-info"  >Műszaki adatok </button></a>
                </div>-->
           </div>
         </div>

         <hr class="featurette-divider">
         <br />
         <h1>Mitsubishi Outlander </h1>
         <h3 style="color:#F08080;">Nagycsaládos kedvezménnyel:<br /> 6 900 000Ft-tól </h3>

         <br />
         <div class="row featurette">
           <div class="col-md-7">

             <h2 class="featurette-heading">Kényelem <span class="text-muted"><br /><h3></span></h2>
             <p class="lead">A megújult OUTLANDER a lehető legmagasabb szintű kényelmet kínálja.
               A kellemes tapintású anyagok alkalmazásától kezdve a legapróbb kiegészítőig mindenre nagy figyelmet fordítottunk.
               Az utastér rengeteg praktikus megoldást is rejt: a vezetési élményt kétzónás klímaberendezés és széles határok közt állítható vezetőülés teszi teljessé, de hasznos ötlet a csomagtérajtó motoros mozgatása és a kulcs nélküli működtetés is.
                A minőség és praktikum utolérhetetlen kombinációját kínáló új OUTLANDER pontosan az az autó, amelyre várt.</p>
           </div>

           <div class="col-md-5">
             <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/7ules/outlander/outlander2.jpg" class="img-fluid" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/7ules/outlander/outlander1.jpg" class="d-block w-100" alt="...">
                  </div>

                </div>
              </div>
           </div>
           <div class="wrapper2">
              <div>
                <a href="{% url 'ajanlatkapcsolat' %}"<button  class="btn btn-danger">Kapcsolat felvétel </button></a>
              </div>
              <!--  <div>
                  <a href="https://www.opelsziget.hu/opelgepjarmuvek/opelszemelygepjarmuvek/combo-life-my19/index/" target="_blank"<button  class="btn btn-info"  >Műszaki adatok </button></a>
                </div>-->

           </div>
         </div>

         <hr class="featurette-divider">
         <br />
         <h1> Opel Combo Life </h1>
         <h3>Induló ár: 5 050 000Ft-tól </h3>

         <br />
         <div class="row featurette">


           <div class="col-md-5">
             <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/7ules/combo/combo2.jpg" class="img-fluid" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/7ules/combo/combo1.jpg" class="d-block w-100" alt="...">
                  </div>

                </div>
              </div>
           </div>
           <div class="col-md-7">

             <h2 class="featurette-heading">Teremtsen helyet maga körül <span class="text-muted"><br /><h3></span></h2>
             <p class="lead">Akár 7 ülés és még mindig rengeteg hely? Igen!
                Az új Opel Combo Life-al mindez lehetséges! Élvezze a nem mindennapi helykínálatot úgy, hogy közben a vonzó formáról sem kell lemondania!</p>
           </div>
           <div class="wrapper2">
              <div>
                <a href="{% url 'ajanlatkapcsolat' %}"<button  class="btn btn-danger">Kapcsolat felvétel </button></a>
              </div>
            <!--  <div>
                <a href="https://www.opelsziget.hu/opelgepjarmuvek/opelszemelygepjarmuvek/combo-life-my19/index/" target="_blank"<button  class="btn btn-info"  >Műszaki adatok </button></a>
              </div>-->

           </div>
         </div>
       </div>
    </div>
  </main>


    <br />
    <!--<div><h1>További ajánlataink </h1></div>
    <hr class="featurette-divider">

    <div class="wrapper">
    <div class="box box1 shadow1" >
        <a href="https://www.budapestautoszalon.hu/eclipse-cross">
            <img class="img-fluid" src="/static/eclispebox3.png" alt=""></a>
      </div>
      <div class="box box2 shadow2">

        <a href="https://www.budapestautoszalon.hu/forester">
              <img class="img-fluid" src="/static/forest2.png" alt=""></a>
      </div>
    </div>
    <hr class="featurette-divider">-->

 </body>


     <!-- Footer -->
     <footer id="myFooter">
         <div class="container">
             <div class="row">
                 <div class="col-sm-3">
                     <h5>Kezdőlap</h5>
                     <ul>
                         <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                         <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                         <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                     </ul>
                 </div>
                 <div class="col-sm-3">
                     <h5>Rólunk</h5>
                     <ul>
                         <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                         <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                         <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                     </ul>
                 </div>

                 <div class="col-sm-3 info">
                     <h5>Nyitva tartás</h5>
                     <p>
                       Új- és használt autó<br />
                       H-P: 9-18 / Sz: 9-13<br />
                       <p> </p>
                       Szerviz, Alkatrész<br />
                       H-P: 8-17 / Sz: Zárva</p>
                 </div>
                 <div class="col-sm-3 info">
                     <h5>Budapest Autószalon</h5>
                     <p>   Opel-Mitsubishi-<br />Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>

                         h-1044 Budapest Váci út 76-80</br>Tel: 06 1-803-6050  </br>Fax: 06 1-803-6051</br>  </p>
                 </div>
                 <hr>
             </div>

         </div>
     </footer>
     <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

     <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

     <!-- Start of LiveChat code -->
   <script type="text/javascript">
         window.__lc = window.__lc || {};
         window.__lc.license = 8624479;
         window.__lc.chat_between_groups = false;
         (function() {
           var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
           lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
         })();

       function myFunction() {
       var x = document.getElementsByClassName("menu")[0]  ;
       if (x.style.display === "block") {
         x.style.display = "none";
       } else {
         x.style.display = "block";
       }
     }
   </script>
   <!-- End of LiveChat code -->
   <!-- Default Statcounter code for Budapest Autószalon
 www.budapestautoszalon.hu -->
 <script type="text/javascript">
 var sc_project=9812866;
 var sc_invisible=1;
 var sc_security="1a0d68be";
 </script>
 <script type="text/javascript"
 src="https://www.statcounter.com/counter/counter.js"
 async></script>
 <noscript><div class="statcounter"><a title="ingyen
 webstatisztika" href="https://www.statcounter.hu/"
 target="_blank"><img class="statcounter"
 src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
 alt="ingyen webstatisztika"></a></div></noscript>
 <!-- End of Statcounter Code -->


   </body>


</html>
