{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Budapest Autószalon</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">
    <link href="{% static 'css/rexton.css' %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static 'css/menu2.css' %}" rel="stylesheet">
    <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
    <style>
      .jumbotron{

        border-radius:2px;
          background:

      url("/static/asx/mitsub-asx-main.jpg");
      background-repeat: repeat;
      background-attachment: fixed;
      color:#fff !important;
      height:450px;
      }
    </style>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="menu-top" >
      <ul class="menu__list-top">
        <li class="menu__group-top"></i>Budapest Autószalon új és használt autók</li>
        <li class="menu__group-top"><i class="fas fa-phone"></i> +36 1 803 6056</li>
        <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
        <li class="menu__group-top"><i class="far fa-envelope"></i><a href = "mailto: info@budapestautoszalon.hu">info@budapestautoszalon.hu</li></a>
      </ul>
    </nav>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light navbar-expand-sm">
      <a class="navbar-brand" href="{% url 'fooldal' %}">
        <img src="/static/logo2.png" width="20%" height="20%" alt="Budapest Autoszalon Logo">

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'fooldal' %}">Főoldal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'szerviz' %}">Szerviz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hasznalt' %}">Használt autók</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
          </li>
        </ul>
      </div>
    </nav>
<header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1></h1>
      <p class="lead"></p>
    </div>
  </div>
</header>

   <!--section third-section-->
 <div class="section third-section">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-12 col-md-5">
        <h1>Aktuális ajánlatunk</h1>
        <p style="font-size: 17px;">Mitsubishi Asx modellre vonatkozik.
          <ul type = "square">
            <li> 5 év vagy 100.000Km garancia</li>
            <li> 2,5 % THM  Akciós finanszírozási programot indítunk,<br />
                          mely érvényes minden új Mitsubishi Asx modellre.</li>
            <li>Ajándék szerviz plusz szolgáltatások</li>

          </ul>
            <br />További részletekről kérjük vegye fel velünk a kapcsolatot!</p>
        <a href="{% url 'ajanlatkapcsolat' %}"<button  class="btn btn-primary" style="width:100%">Kapcsolat felvétel </button></a>
      </div>
      <div class="col-12 col-md-5">
        <img class="rounded img-fluid" src="/static/asx/mitsubishi-asx-oldal.png" alt="">
      </div>
    </div>
  </div>
</div>
   <section class="wrapper">
    <div class="container-fostrap">
        <div >
            <img style="width:10%;" src="/static/Mitsubishi-logo.png" class="Mitsubishi-logo"/>
            <br />
            <h1 class="heading">
                Fedezze fel!
            </h1>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="/static/asx/mitsu-asx-engine.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="">Technológia
                                  </a>
                                </h4>
                                <p class="">
                                    A magas hatásfokú MIVEC benzinmotor variálható szelepszabályozása teremti meg az
                                    ASX erejét a lehető leghatékonyabb üzemanyag-felhasználás mellett.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="{% url 'ajanlatkapcsolat' %}" class="btn btn-link btn-block">
                                    Kapcsolat felvétel
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" >
                            <img src="/static/asx/mitsubishi-asx-kenyelem.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> Tágasság
                                  </a>
                                </h4>
                                <p class="">
                                      Az ASX az aktív vezetési élmény és a meglepő kényelem esszenciáját testesíti meg.
                                       A mérete pont jó, és meglepően könnyen vezethető mind városban,
                                       mind országutakon, az utasok kényelmének korlátozása nélkül.
                                </p>
                            </div>
                            <div class="card-read-more">
                              <a href="{% url 'ajanlatkapcsolat' %}" class="btn btn-link btn-block">
                                  Kapcsolat felvétel
                              </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card">
                            <img src="/static/asx/mitsubishi-asx-2.jpg" />
                          </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html">Védelem
                                  </a>
                                </h4>
                                <p class="">
                                  Az ASX kiválóan szerepelt az Euro NCAP töréstesztjén, amelyen a lehető legtöbb, azaz 5 csillagot szerzett -
                                   bebizonyítva, hogy a legbiztonságosabb járművek közé tartozik a kategóriájában.

                                </p>
                            </div>
                            <div class="card-read-more">
                              <a href="{% url 'ajanlatkapcsolat' %}" class="btn btn-link btn-block">
                                  Kapcsolat felvétel
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--section first-section-->
<section id="Cats">
<div class="section first-section">
<div class="container">
  <div class="row">
  <div class="row align-items-center justify-content-around">
    <!-- column 1 -->
      <div class="col-12 col-lg-5">
    <img class="img-fluid" src="/static/asx/mitsubishi-asx-1.jpg" alt="Mitsubishi-asx">
    </div>
    <!-- column 2 -->
     <div class="col-12 col-lg-5">
      <h2>Áttekintés</h2>
      <p>
        A magas hatásfokú MIVEC benzinmotor variálható szelepszabályozása teremti meg az
        ASX erejét a lehető leghatékonyabb üzemanyag-felhasználás mellett.
        Az ASX tervezésekor az elsődleges szempontok között volt a kedvező légellenállás és a kis tömeg, azért hogy az ASX takarékos, és a lehető leghatékonyabb legyen.</p>
        <a href="{% url 'ajanlatkapcsolat' %}"<button  class="btn btn-warning" style="width:100%"> Érdekel </button></a>
    </div>
  </div>
</div>
</div>
  </div>
  </section>
        <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MQihcGVcaHo" allowfullscreen></iframe>
        </div>
    <section class="wrapper">
   <div class="container-fostrap">
       <div>
         <br />

           <h1 class="heading">
             A legmodernebb elektronikai technológia

           </h1>
       </div>
       <div class="content">
           <div class="container">
               <div class="row">
                 <div class="col-xs-12 col-sm-4">
                     <div class="card">
                         <a class="img-card">
                         <img src="/static/asx/my15_asx_ASC.gif" />
                       </a>
                         <div class="card-content">
                             <h4 class="card-title">
                                 <a >
                                   Aktív Stablilitáskontroll (MASC)
                               </a>
                             </h4>
                             <p class="">
                                  Az Aktív stabilitáskontroll rendszere a fedélzeten lévő érzékelők
                                  adataiból elemzi a jármű mozgását,
                                  és azonosítja az oldalirányú megcsúszást.
                                  A motor teljesítményének szabályozásával és a megfelelő kerekek
                                  fékezésével az ASC fenntartja a jármű stabilitását és irányíthatóságát.
                             </p>
                         </div>
                     </div>
                 </div>
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <a class="img-card">
                           <img src="/static/asx/my15_asx_ABS-EBD.gif" />
                         </a>
                           <div class="card-content">
                               <h4 class="card-title">
                                   <a href="">ABS EBD -vel és Fékasszisztenssel
                                 </a>
                               </h4>
                               <p class="">
                                    A Blokkolásgátló (ABS) csúszós úton egyrészt csökkenti a féktávolságot, másrészt segít megőrízni a vezetőnek az ASX kormányozhatóságát.
                                    Az Elektronikus fékerőelosztó (EBD) biztosítja a fékerő hatékony elosztását a kerekek között.
                                     A két rendszer egymással összhangban lévő működésével érhető el a maximális fékezési teljesítmény, illetve vezetési stabilitás.
                               </p>
                           </div>
                       </div>
                   </div>
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <a class="img-card" >
                           <img src="/static/asx/my15_asx_hillstart.gif" />
                         </a>
                           <div class="card-content">
                               <h4 class="card-title">
                                   <a href=""> Hegymeneti Elindulássegítő (HSA)

                                 </a>
                               </h4>
                               <p class="">

                                  A HSA megkönnyíti az elindulást meredek emelkedőn, mert nem engedi, hogy a jármű hátraguruljon.
                                  Amikor a rendszer emelkedőt észlel, automatikusan fenntartja a féknyomást, amíg a vezető gázt nem ad.
                               </p>
                           </div>
                       </div>
                   </div>

               </div>
           </div>
       </div>
   </div>
</section>
<section id="Cats">
<div class="section first-section">
  <div class="container">
    <div class="row">
    <div class="row align-items-center justify-content-around">
      <!-- column 1 -->
        <div class="col-12 col-lg-5">
      <img class="img-fluid" src="/static/asx/asx-xd-2.jpg" alt="Cat with Attitude">
      </div>
      <!-- column 2 -->
       <div class="col-12 col-lg-5">
        <h2>Érdekli az autó?</h2>
        <p>
           Értékesítő kollégáinkkal már most egyeztessen időpontot és nézze meg élőben a Mistubishi Asx -et!
         </p>
          <a href="{% url 'ajanlatkapcsolat' %}"<button  class="btn btn-warning" style="width:100%"> Érdekel </button></a>
      </div>
    </div>
  </div>
</div>
    </div>
 </section>
  <div id="map">
    <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2691.699700237101!2d19.07857421559379!3d47.573630979182525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dd5e619943f5%3A0x10cc18acc136afcc!2zQnVkYXBlc3QgQXV0w7NzemFsb24gw7pqIMOpcyBoYXN6bsOhbHRhdXTDsyBrZXJlc2tlZMOpcyDDqXMgc3plcnZpeg!5e0!3m2!1sen!2shu!4v1549012906222"
     width="800" height="450" frameborder="0"style="border:0" ></iframe>
  </div>
</body>
     <!-- Footer -->
     <footer id="myFooter">
         <div class="container">
             <div class="row">
                 <div class="col-sm-3">
                     <h5>Kezdőlap</h5>
                     <ul>
                         <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                         <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                         <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                     </ul>
                 </div>
                 <div class="col-sm-3">
                     <h5>Rólunk</h5>
                     <ul>
                         <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                         <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                         <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                     </ul>
                 </div>

                 <div class="col-sm-3 info">
                     <h5>Nyitva tartás</h5>
                     <p>
                       Új- és használt autó<br />
                       H-P: 9-18 / Sz: 9-13<br />
                       <p> </p>
                       Szerviz, Alkatrész<br />
                       H-P: 8-17 / Sz: Zárva</p>
                 </div>
                 <div class="col-sm-3 info">
                     <h5>Budapest Autószalon</h5>
                     <p>   Opel-Mitsubishi-<br />Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>

                         h-1044 Budapest Váci út 76-80</br>Tel: 06 1-803-6050  </br>Fax: 06 1-803-6051</br>  </p>
                 </div>
                 <hr>
             </div>

         </div>
     </footer>
     <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

     <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

     <!-- Start of LiveChat code -->
   <script type="text/javascript">
         window.__lc = window.__lc || {};
         window.__lc.license = 8624479;
         window.__lc.chat_between_groups = false;
         (function() {
           var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
           lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
         })();

       function myFunction() {
       var x = document.getElementsByClassName("menu")[0]  ;
       if (x.style.display === "block") {
         x.style.display = "none";
       } else {
         x.style.display = "block";
       }
     }
   </script>
   <!-- End of LiveChat code -->
   <!-- Default Statcounter code for Budapest Autószalon
 www.budapestautoszalon.hu -->
 <script type="text/javascript">
 var sc_project=9812866;
 var sc_invisible=1;
 var sc_security="1a0d68be";
 </script>
 <script type="text/javascript"
 src="https://www.statcounter.com/counter/counter.js"
 async></script>
 <noscript><div class="statcounter"><a title="ingyen
 webstatisztika" href="https://www.statcounter.hu/"
 target="_blank"><img class="statcounter"
 src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
 alt="ingyen webstatisztika"></a></div></noscript>
 <!-- End of Statcounter Code -->


   </body>


</html>
