<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Budapest Autószalon</title>
  <!-- Bootstrap core CSS -->
  <link rel="shortcut icon" href="{%  static 'icons/kiskocsi.ico' %}">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

  <link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
  <link href="{% static 'css/Footer-with-logo.css' %}" rel="stylesheet">
  <link href="{% static 'css/menubar.css' %}" rel="stylesheet">

</head>
<body>
  <!-- NAvgation -->
  <nav class="menu-top" >
    <ul class="menu__list-top">
      <li class="menu__group-top"></i>Budapest Autószalon új és használt autók</li>
      <li class="menu__group-top"><i class="fas fa-phone"></i> +36 1 803 6056</li>
      <li class="menu__group-top"><i class="far fa-clock"></i> Nyitva: Hétfő - Péntek: 8:00 - 18.00</li>
      <li class="menu__group-top"><i class="far fa-envelope"></i><a href = "mailto: info@budapestautoszalon.hu">info@budapestautoszalon.hu</li></a>
    </ul>
  </nav>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light navbar-expand-sm">
    <a class="navbar-brand" href="{% url 'fooldal' %}">
      <img src="/static/logo2.png" width="20%" height="20%" alt="Budapest Autoszalon Logo">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'fooldal' %}">Főoldal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'autolista:ujautok' %}">Ajánlataink</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'szerviz' %}">Szerviz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'hasznalt' %}">Használt autók</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a>
        </li>
      </ul>
    </div>
  </nav>

      <!-- Page Heading -->
      <div class="container">
        <div class="w_text">
          <h1 class="mt-4 mb-3">Ajánlataink</h1>
        </div>
        <div class="wrapper">
        <div class="box box5 shadow1" >
            <a href="{% url 'eclipse-cross' %}">
                <img class="img-fluid" src="/static/eclispebox3.png" alt=""></a>
          </div>
          <div class="box box4 shadow4">
                  <a href="{% url 'rextong4' %}">
            <img class="img-fluid" src="/static/rextong4/rextonfour.png" alt="SsangYong Rexton G4"></a>
          </div>
          <div class="box box3 shadow3">

            <a href="{% url 'forester' %}">
                  <img class="img-fluid" src="/static/forest2.png" alt=""></a>
          </div>

          <div class="box box2 shadow2">
            <a href="{% url 'tivoli-akcio' %}">
            <img class="img-fluid" src="/static/sanbox1.png" alt=""></a></p>
          </div>
          <div class="box box5 shadow5">
            <a href="{% url 'mitsu-asx' %}">
            <img class="img-fluid" src="/static/asx-4.png" alt=""></a></p>
          </div>
          <div class="box box1 shadow1">
                  <a href="{% url 'nagycsalados' %}">
            <img class="img-fluid" src="/static/7ules/7szemeleyautok.jpg" alt=""></a>

          </div>
        </div>
      </div>
      <br />
        <!-- Footer -->
        <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h5>Kezdőlap</h5>
                        <ul>
                            <li><a href="{% url 'fooldal' %}">Nyitólap</a></li>
                            <li><a href="{% url 'kapcsolat:kapcsolat' %}">Kapcsolat</a></li>
                            <li><a href="#">Adatvédelmi nyilatkozat</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>Rólunk</h5>
                        <ul>
                            <li><a href="{% url 'kapcsolat:kapcsolat' %}">Cégünkről</a></li>
                            <li><a href="{% url 'szervizkap:szervizkapcsi' %}">Szerviz bejelentkezés</a></li>
                            <li><a href="{% url 'hasznalt' %}">Használtautók</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3 info">
                        <h5>Nyitva tartás</h5>
                        <p>
                          Új- és használt autó<br />
                          H-P: 9-18 / Sz: 9-13<br />
                          <p> </p>
                          Szerviz, Alkatrész<br />
                          H-P: 8-17 / Sz: Zárva</p>
                    </div>
                    <div class="col-sm-3 info">
                        <h5>Budapest Autószalon</h5>
                        <p>   Opel-Mitsubishi-<br />Subaru-Ssangyong</br>Márkakereskedés,használtautó-kereskedés és szerviz</br>

                            h-1044 Budapest Váci út 76-80</br>Tel: 06 1-803-6050  </br>Fax: 06 1-803-6051</br>  </p>
                    </div>
                    <hr>
                </div>

            </div>
        </footer>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Start of LiveChat code -->
  <script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = 8624479;
  window.__lc.chat_between_groups = false;
  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
  function myFunction() {
  var x = document.getElementsByClassName("menu")[0]  ;
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
  </script>
  <!-- Default Statcounter code for Budapest Autószalon
  www.budapestautoszalon.hu -->
  <script type="text/javascript">
  var sc_project=9812866;
  var sc_invisible=1;
  var sc_security="1a0d68be";
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="ingyen
  webstatisztika" href="https://www.statcounter.hu/"
  target="_blank"><img class="statcounter"
  src="https://c.statcounter.com/9812866/0/1a0d68be/1/"
  alt="ingyen webstatisztika"></a></div></noscript>
  <!-- End of Statcounter Code -->
  </body>

</html>
